
//class 속성 안에 "-detail"이라는 문자열이 포함된 모든 요소를 선택
[class*="detail"],[class*="modify"]{
  .right{
    width: 100%;}
  .left,.menu-navi{display: none !important;}
 .board-title{
    padding-left: 30px;
    .icon{position: absolute;
      left: 0;top:50%; transform:translateY(-50%)}
  }
  .swiper .img-box {background: #F2F2F2;}

}







