
//class 속성 안에 "-detail"이라는 문자열이 포함된 모든 요소를 선택
[class*="detail"],[class*="modify"]{
  .right{
    width: 100%;}
  .left,.menu-navi{display: none !important;}
 .board-title{
    padding-left: 30px;
    .icon{position: absolute;
      left: 0;top:calc(50% - 6.5px); transform:translateY(-50%)
    }
  }

.card-body{max-width:calc(100% - 28rem); }

  .swiper .img-box {background: #F2F2F2;}
  .count {
    input[name="bookCountInput"]{max-width: 50px;}
  }

  .desc{
    white-space: pre-wrap; /* 줄바꿈 문자 유지 + 자동 줄바꿈 허용 */
    word-wrap: break-word; /* 긴 단어도 줄바꿈 가능 */
    line-height: 1.4;
  }
}

//도서 상세페이지 이미지
[class*="-detail"] .slide .card-header{height:330px}









