@use "../../utils/variables" as *; // 변수
@use "../../utils/mixins" as *; // 함수
@use "../content/detail";// 상세페이지



//sub

.sub{ background-color: #ffffff;
  .page {
    padding:$layoutPadding;
    justify-content: space-between;
    min-height: $subHeight;
    //@include  layoutPadding($layoutPadding);
  }
}


  .left{
    width: $leftWidth;
    padding-left: 4px;
  }
  .right{
    width: $contentWidth;
    .sub-title{display: none;}
  }
  .content{
    border:1px solid $color01;
  }

  .left-menu,.content-inner{
    min-height: 510px;
  }





//title
.sub-title{

}




//leftMenu
.left-menu{ position:relative; background-color: $AdminLeftColor; padding: 60px 35px 40px;}

.depth{
   &.first-depth{

     padding: 15px 20px 30px;background-color: $AdminLeftMenuColor; border-radius:0 15px 15px 0;
      > li {}
     //1차메뉴 버튼
     .depth-menu{
          position: relative;
          padding: 10px 0;
          transition:0.2s;
          .arrow.circle-arrow{right:5px; top:13px; position: absolute}
          //first
          &.first{
            border-bottom: 1px solid $color07;
            &::after{
              @extend %pseudoEL;
              position: absolute;left:0;bottom: 0;opacity: 0; visibility: hidden; width: 0; height: 2px; background-color: $color07;transition:0.3s;}
            &.current,&:focus,&:hover{
              border-bottom:1px solid transparent;
              &::after{opacity: 1; visibility: visible;  width: 100%;}
              .arrow.circle-arrow{
                background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 26.5C20.9036 26.5 26.5 20.9036 26.5 14C26.5 7.09644 20.9036 1.5 14 1.5C7.09644 1.5 1.5 7.09644 1.5 14C1.5 20.9036 7.09644 26.5 14 26.5Z' fill='%23A47763' stroke='%23A47763' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.05371 12.438L14.0537 18.438L20.0537 12.438' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
              }

            }

            &.current::after,&:hover::after,&:focus::after{
              background-color: $color00;}
          }
          //second

          //third
          &.third{}
        &:hover,&:focus,&.current{font-weight: bold;}
       &.current,&:focus + .second-depth{}
      }
    //2차메뉴 ul
     .second-depth{
       height:0;
       opacity:0;
       visibility: hidden;
       transition: height 0.3s ease-in-out 0.5s;
       padding:10px;
       >li{padding-left:15px;position:relative;
         &::before{
           @include defualtBullet($color00,5px,5px);
           border-radius: 50%;
           position: absolute;
           left:0;
           top:17px;
         }
       }
       > a, button{ }

     }

   }

 // li
  li{
    width:100%;

    a,button{
      width:100%;
      padding:0;
      position:relative;
      text-align: left;
      outline: none;
      border:none;
      background-color: transparent;
      &:hover,&:focus{}
    }
  }
}

.depth .depth-menu.current + .second-depth, .depth-menu:focus + .second-depth{opacity:1; visibility: visible;
  height: auto;}

// 2차메뉴 , 3차메뉴있을 경우 공통
.depth-menu{
  &.first{
    display: block;
    align-items: center;
    .leaf{margin-left: 5px;opacity:0;visibility: hidden;transition: 0.3s; width: 25px; height: 20px;
      &::after{

        transform-origin: bottom center;
        transform:rotate(45deg) translate(0,0);
      }
    }
    &.current,&:hover,&:focus{
      .leaf{opacity: 1;visibility: visible;

        &::after{

         animation-name: leaf;

          animation-duration: 2s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: infinite;
          animation-direction: alternate-reverse;
          }
      }
    }
    .arrow{}
  }
}


//1차 메뉴
#first-menu{}


//content
.content{}
.content-inner{
  position: relative;
  padding:60px 50px;
}
.custom-border{
  border: 1px solid #56453E;
}

//navi
.menu-navi{
  display:flex;
  margin-bottom: 25px;
  li,a,span{display:inline-block; position: relative; font-weight: normal;}
  > li {padding-right: 10px; margin-right:10px;
        &:last-child > span{color:$color01;font-weight: bold}
        &:not(:first-child){padding-top:3px;}
        &:not(:last-child)::before{@extend %pseudoEL; background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 18L16 12L10 6' stroke='%23555555' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        width:15px; height: 15px; background-position: center center; background-size: auto 100%;
        position: absolute; top:calc(50% - 5.5px); right:-7.5px;
    }
  }

}
//수정페이지 레프트메뉴 삭제
[class *= "modify"]{

}

//상세페이지 브래드크러브 삭제 및 여백 조절
[class*="detail"]{
  .menu-navi{display: none;}
  .content-inner{padding-top: 50px;}
  .box{margin-bottom:30px;padding-bottom: 30px}
}


@keyframes leaf {

  0%{
    transform: rotate(-10deg) translate(0,0);
  }
  50%{

  }
   100%{
     transform: rotate(0deg);
   }
}

//admin

.admin{

  .sub{
    .main{ padding-top: 170px;}
    .page{
      padding-bottom: 300px;
    }
  }
}

//client