@use '../common/reset';       // 브라우저 기본 스타일 초기화
@use '../common/variables';  // 공통 변수 (컬러, 폰트 등)
@use '../common/mixins';     // 공통 믹스인 (반복 스타일 함수)
@use "../bootstrap/bootstrap"; // Bootstrap 스타일 정의
@use "../common/button";     // 버튼 커스터마이징
@use "../common/table";      // 테이블 커스터마이징
@use "../common/form";       // 폼 커스터마이징


//공통 scss layout : Reset → 공통 변수 → 공통 믹스인 → Bootstrap → 프로젝트 공통 스타일 순서로 작성

//header
@use "../layout/header/header";

//footer
@use "../layout/footer/footer";
