<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.test.dao.TestDao">
<!-- namespace는 dao 인터페이스가 실제로 위치하는 Java 패키지 경로를 입력, 즉 Java폴터 하위의  TestDao가 있는 패키지 경로 입력 -->
<!-- resultType을 간결하게 VO객체로만 입력하려면 application.properties파일에 mybatis 속성값 지정해야 함. -->

        <insert id="insetTest" parameterType="TestVO">
                INSERT INTO TEST (ID,NAME) VALUES(#{testId},#{testName});
        </insert>

        <update id="updateTest" parameterType="TestVO" parameterType="TestVO">
                UPDATE TEST
                SET ID = #{testName}
                WHERE ID = #{testId}
        </update>

        <delete id="deleteTest" parameterType="String">
                DELETE FROM TEST
                WHERE ID = #{testId}
        </delete>

        <select id="selectOne" parameterType="String" resultType="TestVO">
                SELECT ID,NAME FROM TEST
                WHERE ID = #{testId}
        </select>
        
        <select id="selectAll" resultType="TestVO">
                SELECT ID,NAME FROM TEST
        </select>

</mapper>