# Backend
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
.vscode/
*.log
.DS_Store

# Frontend
frontend/dist/
frontend/node_modules/
node_modules/
frontend/.env*

# Runtime
logs/

# Static uploads only
src/main/resources/static/uploads/
#스프링정적리소스 사용안함
src/main/resources/static/assets/
src/main/resources/static/uploads/
src/main/resources/application-dev.properties


#도커 정보파일 ==> 서버로 직접 전송하기
docker-compose.yml