# Backend
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
.vscode/
*.log
.DS_Store

# Frontend
frontend/node_modules/
node_modules/
frontend/.env*

# Runtime
uploads/
images/
logs/

# Static uploads only
src/main/resources/static/uploads/
#스프링정적리소스 사용안함
src/main/resources/static/assets/
src/main/resources/static/uploads/