
.cart-item .item-inner{padding:30px}
.cart-item .item-inner:first-child{flex-wrap: wrap;}
.cart-item .check-one{top:10%; left:3%}
.cart-item .card-header{ padding: 0;}


.main.cart{padding-left:30px;padding-right:30px;}
.cart .content-inner{padding-bottom: 60px;}

.cart-list .card-header
,.cart-list .img-box
,.cart-list .img-inner
,.cart-list .img{ display: inline-block;max-width: 200px; width: 100%; margin:0 auto}
.cart-list .card-header{}
.cart-list .card-body{}