
.cart-item .item-inner:first-child{flex-wrap: wrap}
.cart-item .check-one{top:10%; left:3%}
.cart-item .card-header{ padding: 0;}


.main.cart{padding-left:30px;padding-right:30px;}
.cart .content-inner{padding-bottom: 60px;}
