@use "../../utils/variables" as *; // 변수
@use "../../utils/mixins" as *; // 함수


@keyframes dobleleaf {
  0%{
    transform: translateY(0);
  }

  20%{
    transform: translateY(5px);
  }

  50%{
    transform: translateY(0px);
  }
  80%{
    transform: translateY(6px);
  }

  100%{
    transform: translateY(0);
  }
}

header{height:auto;z-index: 999;}
header,.header-inner,.gnb{position:relative}
//header
#header{}
.header-inner{
    position: relative;
    .gnbWrap{padding:$layoutPadding;}
  &.menu{ background-color:$AdminHeaderColor; }
}

//gnb
.gnb{
  .first-depth{
    >li{
        min-width: 124px;
        position: relative;
         >a{ min-height:80px;  display: inline-flex;
             align-items: center;
             justify-content: center;
              padding: 0 20px;
             >span{
               color:$gnb-font-color;
               font-family: $gnb-font;
               font-size:23px;
               font-weight: bold;
               display:flex;
               flex-direction: column-reverse;
               position:relative;
             }
             .hoverLeaf{
               position: absolute; opacity: 1;visibility: hidden;
               width:40px; height:13px;
              position:absolute;
               top:-14px;
               left:0;
               animation-name: dobleleaf;
               animation-duration: 2s;
               animation-iteration-count: infinite;
               animation-timing-function: ease-in-out
             }
             &:hover,&:focus{
               span{color:$color07;
                 @extend %hover; text-shadow: #595959 0px 1px 1px; }
               .hoverLeaf{
                 opacity: 1;
                 visibility: visible;
                 transition:0.3s;
               }
           }
         }
          .second-depth{
            height: 0;
            border:2px solid $color06;
            border-radius: 20px;
            padding: 15px 10px;
            background-color: $AdminSecondDepthBg;
            width:100%;height: 0; text-align: center;
            opacity: 0;visibility: hidden;position: absolute; top:110%;left:0;
            > li{
               >a { padding:10px 0;}
              &:hover >a,
              &:focus-within >a {font-weight: bold;}
            }
          }
      &:hover .second-depth,
      &:focus-within  .second-depth{opacity: 1; visibility: visible; height:auto}
    }
  }

  .third-depth{}


}

.logo{ @include logo(140px,66px,inline-block);
  position:absolute;
  left:30px;
  top:0;
  z-index: 99;
  padding: 12px 10px 8px 0px;
  >a,em,span{width: 100%;height: 100%; display: block;}
  .img{background-image: url("/assets/images/common/clLogo_w.svg");
    background-size: 100% auto;
  background-repeat: no-repeat; background-position:center center}
}

//main
.main-header{
  .logo{}
}

.user-info{
  margin-left: 20px;
  span,button,a{
    color:$fontTnbColor;
    font-size:15px; font-weight:bold; background-color: transparent}
  > ul{
    >li{
      margin-right: 20px;
      &:last-child {margin:0}
    }
  }

}

//관리자
.admin{
  .user-info{
    //관리자 기본 스타일
    .default-btn{
      border-radius: 40px;
      &:hover,&:focus{background-color: $color01;color:#fff;}
    }
  }
}

//클라이언트
.client {
  .menu {
    background-color: transparent;
  }
//gnb
  .gnb{
    .first-depth{
      >li{
        .second-depth{display: none}
      }
    }
  }


//user-info
  .user-info{
    span,button,a{color: $fontGnbColor;font-weight: bold;}
  }

}




//sub
.sub-header{}
