@use "../../utils/variables" as *; // 변수
@use "../../utils/mixins" as *; // 함수


@keyframes dobleleaf {
  0%{
    transform: translateY(0);
  }

  20%{
    transform: translateY(5px);
  }

  50%{
    transform: translateY(0px);
  }
  80%{
    transform: translateY(6px);
  }

  100%{
    transform: translateY(0);
  }
}

header{height:auto; @extend %clearfix}
header,.header-inner,.gnb{position:relative}
//header
#header{}
.header-inner{@include layoutPadding($layoutPadding);
  &.menu{ background-color:$mainColor; }
}

//gnb
.gnb{
  .first-depth{
    >li{
         >a{ min-height:80px;  display: inline-flex;
           align-items: center;
           justify-content: center;
           padding: 2px 40px 0 40px;
           >span{
             color:$gnb-font-color;
             font-family: $gnb-font;
             font-size:23px;
             font-weight: bold;
             display:flex;
             flex-direction: column-reverse;
             position:relative;
           }
           .hoverLeaf{
             position: absolute; opacity: 1;visibility: hidden;
             width:40px; height:13px;
            position:absolute;
             top:-14px;
             left:0;
             animation-name: dobleleaf;
             animation-duration: 2s;
             animation-iteration-count: infinite;
             animation-timing-function: ease-in-out
           }
           &:hover,&:focus{
             span{color:$gnb-hover-color;
               @extend %hover; text-shadow: #444444 0px 2px 2px; }
             .hoverLeaf{
               opacity: 1;
               visibility: visible;
               transition:0.3s;
             }
           }
         }

    }
  }
  .second-depth{}
  .third-depth{}
}

.logo{ @include logo(100px,80px,inline-block);
  position:absolute;
  left:0;
  top:0;
  padding: 12px 10px 8px 0px;
  >a,em,span{width: 100%;height: 100%; display: block;}
  .img{background-image: url("../../dist/assets/images/logo_w.svg");
  background-repeat: no-repeat;background-size: auto 100%; background-position: left center}
}

//main
.main-header{
  .logo{}
}

.user-info{
  span,button,a{color:#fff; font-size:15px;
    margin: 0;
    padding: 0;}
  > ul{ background-color:$color00; border-radius: 10px;
    padding:11px 15px; float:right; margin:20px 0;
    width: auto;
    >li{
      &:not(:last-child) {margin-right: 15px;}
    }
  }
}



//sub
.sub-header{}
