.btn-submit {
  margin-bottom: 50px;
}

.download-item:hover {
  cursor: pointer;
  border-bottom: solid 0.5px;
}

.modify-btn {
  text-align: right;
}

.content-box {
  white-space: pre-wrap; /* 줄바꿈 문자 유지 + 자동 줄바꿈 허용 */
  word-wrap: break-word; /* 긴 단어도 줄바꿈 가능 */
}

 {
  /*코멘트 모달*/
}
.comment-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 배경 반투명 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.comment-box {
  white-space: pre-wrap; /* 줄바꿈 문자 유지 + 자동 줄바꿈 허용 */
  word-wrap: break-word; /* 긴 단어도 줄바꿈 가능 */
}
.comment-modal-box {
  background-color: #fff;
  width: 500px;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.comment-modal-box textarea {
  width: 100%;
  min-height: 500px;
  margin-bottom: 10px;
  padding: 8px;
  resize: none;
}

.comment-modal-box .close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-weight: bold;
}
