.dashboard-container {
  height: 800px;
}

/* top-section */
.top-section {
  margin: 5%;
  margin-left: 200px;
  margin-right: 200px;
}

.graph-container {
  width: 50%;
}
.navCard-container {
  width: 40%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열 */
  gap: 20px; /* 카드 간격 */
}
.navCard-item {
  background-color: #fff; /* 보기 좋게 배경 추가 (선택) */
  width: 300px;
  height: 180px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

/* bottom-section */

.bottom-section {
}
