.dashboard-container {
  height: 1000px;
}

/* top-section */
.top-section {
  margin: 5%;
  margin-left: 200px;
  margin-right: 200px;
}

.graph-container {
  width: 50%;
}
.navCard-container {
  width: 40%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열 */
  gap: 20px; /* 카드 간격 */
}
.navCard-item {
  background-color: #fff;
  width: 280px;
  height: 150px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

/* bottom-section */
.table-container {
  width: 40%;
}

.bottom-section {
  gap: 20px;
  margin-left: 200px;
  margin-right: 200px;
}

.book-tab-container {
  width: 100%;
  border: none;
  border-radius: 6px;
  padding: 12px;
  background-color: #fff;
  font-family: "Arial", sans-serif;
}

/* 제목 */
.book-tab-container h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

/* 탭 버튼 영역 */
.tab-buttons {
}

/* 탭 버튼 스타일 */
.tab-button {
  flex: 1;
  height: 40px;
  width: 80px;
  padding: 6px 10px;
  border: none;
  background-color: #d9d9d9;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.tab-button:hover {
  background-color: #f2f2f2;
}

/* 선택된 탭 */
.tab-button.active {
  background-color: #eef3f4;
  border-color: #7da8ff;
  font-weight: bold;
}

/* 테이블 */
.tab-content {
  padding: 0;
  margin-top: 0;
  background-color: #fff;
}
.tab-content table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border-bottom: 1px solid #ddd;
  padding: 6px;
  text-align: center;
  font-size: 14px;
}

th {
  background-color: #eef3f4;
}
