.boardQnaFinder {
  display: flex;
  justify-content: center;
}

.boardQnaFinder .boardQnaFinderBox {
  padding: 10px;
}

.boardQnaFinderBox .Finder_textArea {
  text-align: center;
  resize: none;
  width: 120px;
  height: 30px;
}

.oneBoardIndex {
  background: #bed297;
  display: flex;
  justify-content: space-around;
}

.oneBoardIndex .item {
  width: 300px;
  padding: 8px;
  text-align: center;
  color: white;
}

.oneBoardQuestionBox {
  background: white;
}

.qnaOneItemBox {
  display: flex;
  justify-content: space-around;
}

.qnaOneItem {
  color: #0dcaf0;
}
