.flex_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card_box {
  min-width: 450px;

  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card_title {
  margin-bottom: 10px;
  font-weight: 1000;
  font-size: 24px;
}

.card-item {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(222, 222, 222);
}

.card-item:hover {
  background-color: #48484c;
  color: white;
  cursor: pointer;
}

.card_box:nth-child(1) .card_title {
  color: #60a5fa;
} /* 1:1 문의 */
.card_box:nth-child(2) .card_title {
  color: #34d399;
} /* 상품 문의 */
.card_box:nth-child(3) .card_title {
  color: #fbbf24;
} /* 배달 문의 */

.btn-create {
  background-color:
  width: 200px;
}
