.userBoardHeader {
  border: solid 1px black;
}

.createBoardBox {
  border: solid 1px black;
  padding: 50px;
  height: auto;
  margin-right: 50px;
}



dt {
  margin-top: 32px;
  width: 135px;
}
dd {
  margin-top: 32px;
}

.createBtnBox {
  text-align: right;
}
.Btn {
  margin-top: 32px;
}

.boardSection {
  width: auto;
  height: 500px;
  border: solid 1px black;
}



.readBoardBox {
  border: solid 1px black;
  padding: 50px;
  height: auto;
  margin-right: 50px;
  width: 50%;
  justify-content: center;
  margin: 0 auto;
}


.BoardIndex {
  background: #bed297;
  display: flex;
  justify-content: space-around;
}

.BoardIndex .item {
  width: 300px;
  padding: 8px;
  text-align: center;
  color: white;
}

.BoardList {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.BoardList .item {
  padding: 8px;
  flex: 1; /* 모든 아이템 동일한 너비 */
  text-align: center;
}

.btn-Box {
  text-align: right;
}

.file-item {
  background-color: #3333;
  border-radius: 15px;
  align-items: center;
}

/* 파일 이름 */
.file-item span {
  max-width: 150px; /* 길면 줄임표 처리 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /*연속 공백을 하나로 합침 */
}

/* 삭제 버튼 */
.btn-file {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 0;
}

.icon-cancel {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 11.4L12.9 14.3C13.0833 14.4833 13.3167 14.575 13.6 14.575C13.8833 14.575 14.1167 14.4833 14.3 14.3C14.4833 14.1167 14.575 13.8833 14.575 13.6C14.575 13.3167 14.4833 13.0833 14.3 12.9L11.4 10L14.3 7.1C14.4833 6.91667 14.575 6.68333 14.575 6.4C14.575 6.11667 14.4833 5.88333 14.3 5.7C14.1167 5.51667 13.8833 5.425 13.6 5.425C13.3167 5.425 13.0833 5.51667 12.9 5.7L10 8.6L7.1 5.7C6.91667 5.51667 6.68333 5.425 6.4 5.425C6.11667 5.425 5.88333 5.51667 5.7 5.7C5.51667 5.88333 5.425 6.11667 5.425 6.4C5.425 6.68333 5.51667 6.91667 5.7 7.1L8.6 10L5.7 12.9C5.51667 13.0833 5.425 13.3167 5.425 13.6C5.425 13.8833 5.51667 14.1167 5.7 14.3C5.88333 14.4833 6.11667 14.575 6.4 14.575C6.68333 14.575 6.91667 14.4833 7.1 14.3L10 11.4ZM10 20C8.61667 20 7.31667 19.7373 6.1 19.212C4.88334 18.6867 3.825 17.9743 2.925 17.075C2.025 16.1757 1.31267 15.1173 0.788001 13.9C0.263335 12.6827 0.000667932 11.3827 1.26582e-06 10C-0.000665401 8.61733 0.262001 7.31733 0.788001 6.1C1.314 4.88267 2.02633 3.82433 2.925 2.925C3.82367 2.02567 4.882 1.31333 6.1 0.788C7.318 0.262667 8.618 0 10 0C11.382 0 12.682 0.262667 13.9 0.788C15.118 1.31333 16.1763 2.02567 17.075 2.925C17.9737 3.82433 18.6863 4.88267 19.213 6.1C19.7397 7.31733 20.002 8.61733 20 10C19.998 11.3827 19.7353 12.6827 19.212 13.9C18.6887 15.1173 17.9763 16.1757 17.075 17.075C16.1737 17.9743 15.1153 18.687 13.9 19.213C12.6847 19.739 11.3847 20.0013 10 20ZM10 18C12.2333 18 14.125 17.225 15.675 15.675C17.225 14.125 18 12.2333 18 10C18 7.76667 17.225 5.875 15.675 4.325C14.125 2.775 12.2333 2 10 2C7.76667 2 5.875 2.775 4.325 4.325C2.775 5.875 2 7.76667 2 10C2 12.2333 2.775 14.125 4.325 15.675C5.875 17.225 7.76667 18 10 18Z' fill='%23E52424'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
