.userBoardHeader {
  border: solid 1px black;
}

.createBoardBox {
  border: solid 1px black;
  padding: 50px;
  height: auto;
  margin-right: 50px;
}

 {
  /*게시판 생성 css*/
}

dt {
  margin-top: 32px;
  width: 135px;
}
dd {
  margin-top: 32px;
}

.createBtnBox {
  text-align: right;
}
.Btn {
  margin-top: 32px;
}

.boardSection {
  width: auto;
  height: 500px;
  border: solid 1px black;
}

 {
  /*게시판 읽기 css*/
}

.readBoardBox {
  border: solid 1px black;
  padding: 50px;
  height: auto;
  margin-right: 50px;
  width: 50%;
  justify-content: center;
  margin: 0 auto;
}

 {
  /*게시판 목록 css*/
}
.BoardIndex {
  background: #bed297;
  display: flex;
  justify-content: space-around;
}

.BoardIndex .item {
  width: 300px;
  padding: 8px;
  text-align: center;
  color: white;
}

.BoardList {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.BoardList .item {
  padding: 8px;
  flex: 1; /* 모든 아이템 동일한 너비 */
  text-align: center;
}

.btn-Box {
  text-align: right;
}
