.flex_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-box {
  max-width: 400px;
  min-width: auto;
}

.card-box span {
  display: inline-block;
  font-size: 28px;
  font-weight: 600;
  color: #333;
  border-left: 4px solid #a3e225; /* 메인 컬러 강조선 */
  padding-left: 10px;
  margin-bottom: 15px;
}

.card-item-box {
}

.btn-box {
  text-align: right;
}

.navigate-btn {
}

.card-header {
  display: flex;
  justify-content: space-between; /* 좌우 끝 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}

.card-header > .navigate-btn {
  width: 30px;
  height: 30px;
  font-size: 24px;
  line-height: 1; /* 기본 line-height 영향 제거 */
  padding: 0; /* 여백 제거 */
}

.card-header > .navigate-btn:hover {
  transform: scale(1.5);
  border: hidden;
}
