.flex_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-box {
  max-width: 400px;
}

.card-item-box {
}

.rd-5 {
  border-radius: 5px;
}

.btn-create {
  width: 200px;
  background-color: aqua;
}
