

.card-box{
  position: relative;
  margin-bottom: 100px;}
.card-box:first-child{margin-top: 50px;}

.table-title {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 15px;
  position: relative;
}
.table-title:before {content:'';display:inline-block;
  background-color:#a3e225; width:4px; height:15px; margin-right:15px; }

.btn-box {
  text-align: right;
}

.custom-border .more {
  all: unset; /* Bootstrap 버튼 스타일 초기화 */
  position: absolute;
  top: 0px;
  right: 0px;
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 1; /* 폰트 기준선 영향 제거 */
  padding: 0;
  margin: 0;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}
