<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.team01.delivery.dao.AddressDao">
  
    <resultMap id="addressMap" type="AddressVO">
        <id property="addrId" column="addrId"/>
        <result property="addrType" column="addrType"/>
        <result property="addr" column="addr"/>
        <result property="zoneCode" column="zoneCode"/>
        <result property="detailAddr" column="detailAddr"/>
        <association property="client" javaType="ClientVO">
            <id property="clientId" column="clientId"/>
        </association>
    </resultMap>
    
    <select id="selectAddress" parameterType="String" resultMap="addressMap">
        select
            a."addrId"
             , c."clientId"
             , a."addrType"
             , a."addr"
             , a."zoneCode"
             , a."detailAddr"
        from Address a join CLIENT c on  a."clientId" = c."clientId"
        where c."clientId" =  #{clientId}
    </select>

    <insert id="insertAddress" parameterType="AddressVO">
        <selectKey keyProperty="addrId" resultType="String" order="BEFORE">
            SELECT ADDRID_SQE.NEXTVAL FROM DUAL
        </selectKey>

        insert into
            Address (
                    "addrId"
                    ,"clientId"
                    ,"addrType"
                    ,"addr"
                    ,"zoneCode"
                    ,"detailAddr")
        values (
                    #{addrId}
                    ,#{client.clientId}
                   ,#{addrType}
                   ,#{addr}
                   ,#{zoneCode}
                   ,#{detailAddr}
               )
    </insert>
    
    <update id="updateAddress" parameterType="AddressVO">
        UPDATE Address
        <set>
            <if test="addrType != null and addrType != ''">
                "addrType" = #{addrType},
            </if>
            <if test="addr != null and addr != ''">
                "addr" = #{addr},
            </if>
            <if test="zoneCode != null and zoneCode != ''">
                "zoneCode" = #{zoneCode},
            </if>
            <if test="detailAddr != null and detailAddr != ''">
                "detailAddr" = #{detailAddr},
            </if>
        </set>
        where "addrId"=#{addrId}
    </update>

  <delete id="deleteAddress" parameterType="String">
      delete from Address
      where "addrId"=#{addrId}
        and "clientId"=#{clientId}
  </delete>

</mapper>