<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.team01.address.dao.AddressDao">
  
    <resultMap id="addressMap" type="AddressVO">
        <id property="addrId" column="addrId"/>
        <result property="addrType" column="addrType"/>
        <result property="addr" column="addr"/>
        <result property="zoneCode" column="zoneCode"/>
        <result property="detailAddr" column="detailAddr"/>
        <result property="isdefault" column="isdefault"/>
        <association property="client" javaType="ClientVO">
            <id property="clientId" column="clientId"/>
        </association>
    </resultMap>
    <!--  배송지의 등록된 전체주소조회   -->
    <select id="selectAddress" resultMap="addressMap">
        select
            a.addrId
            , c.clientId
            , a.addrType
            , a.addr
            , a.zoneCode
            , a.detailAddr
            , a.isdefault
        from address a join client c on  a.clientId = c.clientId
        where c.clientId =  #{clientId}
    </select>

    <!-- 기본주소로 선택된 주소레코드만 조회 -->
    <select id="selectOneAddress"  parameterType="String" resultMap="addressMap">
        select
            a.addrId
             , c.clientId
             , a.addrType
             , a.addr
             , a.zoneCode
             , a.detailAddr
             , a.isdefault
        from address a join client c on  a.clientId = c.clientId
        where c.clientId =  #{clientId} and isdefault='Y'
    </select>

    <insert id="insertAddress" parameterType="AddressVO">
        <selectKey keyProperty="addrId" resultType="Long" order="BEFORE">
            SELECT nextval('ADDRID_SQE')
        </selectKey>

        insert into
            Address (
                    addrId
                    ,clientId
                    ,addrType
                    ,addr
                    ,zoneCode
                    ,detailAddr
                    ,isdefault
        )
        values (
                    #{addrId}
                    ,#{client.clientId}
                    ,#{addrType}
                    ,#{addr}
                    ,#{zoneCode}
                    ,#{detailAddr}
                    ,#{isdefault}
               )
    </insert>
    
    <update id="updateAddress" parameterType="AddressVO">
        UPDATE address
        <set>
            <if test="addrType != null and addrType != ''">
                addrType = #{addrType},
            </if>
            <if test="addr != null and addr != ''">
                addr = #{addr},
            </if>
            <if test="zoneCode != null and zoneCode != ''">
                zoneCode = #{zoneCode},
            </if>
            <if test="detailAddr != null and detailAddr != ''">
                detailAddr = #{detailAddr},
            </if>
        </set>
        where addrId=#{addrId}
    </update>

    <delete id="deleteAddress">
      delete from address
      where addrId=#{addrId}
        and clientId=#{clientId}
    </delete>

    <select id="selectCartAddress"  resultMap="addressMap">
        select
            a.addrId
            ,a.addr
            ,a.addrType
            ,a.detailAddr
            ,a.zoneCode
            ,a.isdefault
            ,c.clientId
            ,c.clientName
            ,c.email
            ,c.email
            ,c.tel
        from address a join client c on ( a.clientId = c.clientId)
        where a.clientId = #{clientId}  and  a.isdefault='Y'
        order by a.addrId
    </select>
    <!-- 주소테이블 기본 주소 변경 전 기본주소 해제쿼리   -->
    <update id="clearDefaultStatus" parameterType="String">
        UPDATE address
        SET isdefault = 'N'
        WHERE clientId = #{clientId}
    </update>
    <!-- 주소테이블 기본 주소 변경 업데이트 쿼리   -->
    <update id="updateChangeCartAddress">
        UPDATE address
        SET isdefault = 'Y'
        WHERE clientId = #{clientId} and addrId = #{addrId}
    </update>




    <!-- 기본주소 존재유무 조회 -->
    <select id="isDefaultStatus" resultType="int">
        SELECT COUNT(*)
        FROM address
        WHERE clientid = #{clientId}
          AND  isdefault = 'Y';
    </select>
</mapper>