<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.team01.admin.dao.AdminBookDao">
<!--  @org.apache.commons.lang3.StringUtils@isNotBlank(null 체크할 파라미터)
        null 체크와 공백 문자열 체크를 동시에 처리 가능
       오라클 문법에서 from 절 뒤에 as 별칭 형식으로 기입하면 에러 발생, as 제외하고 사용하기
"-->
<!--
    searchFlag 동적 쿼리 , Pagination pagination에 DetailCondition에 검색조건필터를 담아서 받아온 경우
    detailCondition.bookType 의 형태로 접근해야 함
-->
    <sql id="searchFrag">
        <trim prefix="WHERE" suffixOverrides="AND">

            <!-- bookType이 비어있지 않고 'ALL'이 아닐 때만 필터 적용 -->
            <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(pagination.detailCondition.bookType) and pagination.detailCondition.bookType != 'ALL'">
                INSTR("bookCateNm", #{pagination.detailCondition.bookType}) > 0 AND
            </if>

            <!-- keyword가 비어있지 않을 때만 검색조건 적용 -->
            <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(pagination.detailCondition.keyword)">
                <choose>
                    <when test="pagination.detailCondition.searchType == 'bookName'">
                        INSTR("bookName", #{pagination.detailCondition.keyword}) > 0 AND
                    </when>
                    <when test="pagination.detailCondition.searchType == 'author'">
                        INSTR("author", #{pagination.detailCondition.keyword}) > 0 AND
                    </when>
                </choose>
            </if>
            "delStatus"='N'
        </trim>
    </sql>
<!-- 페이지네이션파라미터가 안넘어옴! 파라미터 타입 확인해야함-->
    <select id="totalRecord" resultType="int" parameterType="com.example.team01.utils.Pagination">
        SELECT COUNT(*)
        FROM book
        <include refid="searchFrag"/>
    </select>

<!--오라클 char  타입 사용하면  바인딩 파라미터가 값을 못받아서 가변데이터일경우를 포함해서 varchar로 설계해야함!-->
<!-- rnum 사용시 조건문 범위 연산과정이해 필요   -->
<!-- 문자열로 숫자를 표현하면 순서가 꼬일 수 있어서 숫자로 변환해줘야 하기때문에 varchar2 말고 number 타입을 선언하기   -->
    <select id="selectAllBook" resultType="AdminBookVO" parameterType="com.example.team01.utils.Pagination">

        with filterData as (
            select ROWNUM as rnum,a.*
                from(
                        SELECT TRIM("bookId") AS "bookId"
                             , "bookCateNm"
                             , "bookCateDepth"
                             , "bookName"
                             , "bookDesc"
                             , "author"
                             , "bookPrice"
                             , "stock"
                             , "stockStatus"
                             , "publishDate"
                             , "roleId"
                             , "cateId"
                             , "bookImgPath"
                             , "writer"
                             , "createDate"
                            ,"recomType"
                            ,"saleStatus"
                        FROM book
                        <include refid="searchFrag" />

                        ORDER BY TO_NUMBER("bookId") DESC
                ) a
        )

        SELECT *
        FROM filterData
        WHERE rnum BETWEEN #{pagination.startRow} AND #{pagination.endRow}
    </select>

    <select id="selectOneBook" resultType="AdminBookVO" parameterType="String">
        select  trim("bookId") as "bookId"
             , "bookCateNm"
             , "bookCateDepth"
             , "bookName"
             , "bookDesc"
             , "author"
             , "bookPrice"
             , "stock"
             , "stockStatus"
             , "publishDate"
             , "roleId"
             , "cateId"
             , "bookImgPath"
             , "writer"
             , "createDate"
            ,"recomType"
            , "saleStatus"
        from book
        where "bookId"=#{bookId} and "delStatus" = 'N'
    </select>
    <!-- 인덱스 역할을 하는 파라미터를 String으로 하면 #{} 이 인식을 못할 경우 , ${} 사용하기
    마이바티스가 #{}바인딩 변수를 사용해서 문자열을 치환하면 varchar 타입으로 변환해 char 타입일 경우 인식이
    안될 수도 있음. ==> cast 사용해도 안되는 경우에는 ??
    -->


    <insert id="createBook" parameterType="AdminBookVO">
        <selectKey keyProperty="bookId" resultType="String" order="BEFORE">
            SELECT BOOK_SECQUENCE.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO BOOK (
        "bookId"
        , "bookCateNm"
        , "bookCateDepth"
        , "bookName"
        , "bookDesc"
        , "author"
        , "bookPrice"
        , "stock"
        , "stockStatus"
        , "publishDate"
        , "roleId"
        , "cateId"
        , "bookImgPath"
        , "writer"
        ,"recomType"
        ,"saleStatus"
        ) VALUES (
        #{bookId}
        , #{bookCateNm}
        , #{bookCateDepth}
        , #{bookName}
        , #{bookDesc}
        , #{author}
        , #{bookPrice}
        , #{stock}
        , #{stockStatus}
        , #{publishDate}
        , #{roleId}
        , #{cateId}
       ,#{bookImgPath}
        , #{writer}
        ,#{recomType}
        ,#{saleStatus}
        )

    </insert>
    <!-- 도서 존재유뮤 유효성검사 쿼리 -->
    <select id="existBooks" parameterType="list" resultType="string">
        SELECT trim("bookId") as "bookId"
        FROM BOOK
        WHERE trim("bookId") IN
        <foreach collection="bookIds" item="bookId" open="(" separator="," close=")">
            #{bookId}
        </foreach>
    </select>
    <!--  도서존재유무 유효성 검사 후 존재하고 있는 데이터 삭제 쿼리   -->

    <!--도서삭제 시, 업데이트쿼리로 상태값 변경하여 삭제처리, 참조키로 연결된 데이터처리(클라이언트의 찜목록, 장바구니 등 ) -->
    <update id="deleteBooks" parameterType="list">
        update book
        set "delStatus" = 'Y'
        WHERE trim("bookId") IN
        <foreach collection="existBookIds" item="bookId" open="(" separator="," close=")">
           #{bookId}
        </foreach>
    </update>

    <!--도서에 등록된 이미지 삭제시 갱신 쿼리 -->
    <update id="deleteBookFiles" parameterType="String">
        update book
        set "bookImgPath" = #{bookImgPath}
        WHERE "bookId"=#{bookId}
    </update>

    <update id="updateBook" parameterType="AdminBookVO">
        UPDATE book
        <set>
            <if test="bookCateNm != null and bookCateNm != ''">
                "bookCateNm" = #{bookCateNm},
            </if>
            <if test="bookCateDepth != null and bookCateDepth != ''">
                "bookCateDepth" = #{bookCateDepth},
            </if>
            <if test="bookName != null and bookName != ''">
                "bookName" = #{bookName},
            </if>
            <if test="bookDesc != null and bookDesc != ''">
                "bookDesc" = #{bookDesc},
            </if>
            <if test="author != null and author != ''">
                "author" = #{author},
            </if>
            <if test="bookPrice != null">
                "bookPrice" = #{bookPrice},
            </if>
            <if test="stock != null">
                "stock" = #{stock},
            </if>
            <if test="stockStatus != null and stockStatus != ''">
                "stockStatus" = #{stockStatus},
            </if>
            <if test="publishDate != null and publishDate != ''">
                "publishDate" = #{publishDate},
            </if>
            <if test="roleId != null and roleId != ''">
                "roleId" = #{roleId},
            </if>
            <if test="cateId != null and cateId != ''">
                "cateId" = #{cateId},
            </if>
            <if test="bookImgPath != null and bookImgPath != ''">
                "bookImgPath" = #{bookImgPath},
            </if>
            <if test="writer != null and writer != ''">
                "writer" = #{writer},
            </if>
            <if test="createDate != null and writer != ''">
                "createDate" = #{createDate},
            </if>
            <if test="recomType != null and recomType != ''">
                "recomType" = #{recomType} ,
            </if>
            <if test="saleStatus != null and saleStatus != ''">
                "saleStatus"= #{saleStatus}
            </if>
        </set>
        WHERE "bookId" = #{bookId}
    </update>

    <!-- 도서 등록, 수정시 데이터베이스에 저장될 이미지 경로 갱신쿼리-->
    <update id="updateBookImgPath" parameterType="list">
        update  book
        <foreach collection="existBookIds" item="bookId" open="(" separator="," close=")">
            set bookImgpath =  #{bookImgPath}
        </foreach>
        WHERE "bookId" = #{bookId}
    </update>


    <!-- collection은 List<String> 타입으로 받아온 리스트 문자열 타입 파라미터명을 입력 -->
</mapper>
