<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.team01.attachment.dao.AttachmentDao">

    <insert id="InsertAttachment_ID" parameterType="AttachmentVO">
    INSERT INTO attachmentid (
        attachmentID, fileName, fileType, fileSize, fileData, uploadDate, uploader, boardType
    )
    VALUES (
        #{attachmentID}, 
        #{fileName}, 
        #{fileType}, 
        #{fileSize}, 
        #{fileData}, 
        SYSDATE, 
        #{uploader}, 
        #{boardType}
    )
    </insert>
    <select id="GetAttachmentList" resultType="AttachmentVO">
        SELECT * FROM attachmentid
        WHERE uploader = #{userId}
          AND boardType = #{boardType}
          AND uploadDate BETWEEN #{boardDate} - INTERVAL '5' MINUTE
            AND #{boardDate} + INTERVAL '5' MINUTE
        ORDER BY uploadDate
    </select>
</mapper>