<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.team01.book.dao.BookDao">

    <sql id="searchFrag">
        <trim prefix="WHERE" suffixOverrides="AND">
            saleStatus NOT IN ('미판매', '단종') AND
            delStatus ='N' AND
            <!-- bookType이 비어있지 않고 'ALL'이 아닐 때만 필터 적용 -->
            <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(pagination.detailCondition.bookType) and pagination.detailCondition.bookType != 'ALL'">
                STRPOS(bookCateNm, #{pagination.detailCondition.bookType}) > 0 AND
            </if>

            <!-- 등록분류 -->
            <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(pagination.detailCondition.recomType) and pagination.detailCondition.recomType != 'ALL'">
                recomType = #{pagination.detailCondition.recomType} AND
            </if>

            <!-- keyword가 비어있지 않을 때만 검색조건 적용 -->
            <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(pagination.detailCondition.keyword)">
                <choose>
                    <when test="pagination.detailCondition.searchType == 'bookName'">
                        STRPOS(bookName, #{pagination.detailCondition.keyword}) > 0 AND
                    </when>
                    <when test="pagination.detailCondition.searchType == 'author'">
                        STRPOS(author, #{pagination.detailCondition.keyword}) > 0 AND
                    </when>
                </choose>
            </if>

        </trim>
    </sql>

    <select id="totalRecord" resultType="int" parameterType="com.example.team01.utils.Pagination">
        SELECT COUNT(*)
        FROM book
        <include refid="searchFrag"/>
    </select>


    <select id="selectAllBooks" resultType="BookVO">
        SELECT
        bookId,
        bookCateNm,
        bookCateDepth,
        bookName,
        bookDesc,
        author,
        bookPrice,
        stock,
        stockStatus,
        publishDate,
        roleId,
        cateId,
        bookImgPath,
        writer,
        createDate,
        recomType,
        saleStatus
        FROM book
        <include refid="searchFrag"/>

        ORDER BY bookId DESC

        LIMIT #{pagination.pageSize}
        OFFSET #{pagination.offset}

    </select>

    <select id="selectOneBook" resultType="BookVO">
        select bookId
             , bookCateNm
             , bookCateDepth
             , bookName
             , bookDesc
             , author
             , bookPrice
             , stock
             , stockStatus
             , publishDate
             , roleId
             , cateId
             , bookImgPath
             , writer
             , createDate
             ,recomType
             ,saleStatus
        from book
        where bookId=#{bookId}
    </select>

    <update id="increaseBookQuantity">
        UPDATE book
        SET stock = stock + #{quantity}
        WHERE bookId = #{bookId}
    </update>

    <update id="decreaseBookQuantity">
        UPDATE book
        SET stock = stock - #{quantity}
        WHERE bookId = #{bookId}
          AND stock >= #{quantity}
    </update>

    <!-- 조회할 VO 객체를 결과 타입으로 선언해야 데이터가 매핑되어 반환됨 -->
    <select id="checkBookCount" resultType="int">
        SELECT
             stock
        FROM book
        WHERE bookId = #{bookId}
    </select>

</mapper>
