<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.team01.book.dao.BookDao">

<!--오라클 char  타입 사용하면  바인딩 파라미터가 값을 못받아서 가변데이터일경우를 포함해서 varchar로 설계해야함!-->
    <select id="selectAllBook" resultType="BookVO">
        select   trim("bookId") as "bookId"
             , "bookCateNm"
             , "bookCateDepth"
             , "bookName"
             , "bookDesc"
             , "author"
             , "bookPrice"
             , "stock"
             , "stockStatus"
             , "publishDate"
             , "roleId"
             , "cateId"
             , "bookImgPath"
             , "writer"
             , "createDate"
        from book
    </select>

    <select id="selectOneBook" resultType="BookVO" parameterType="String">
        select  trim("bookId") as "bookId"
             , "bookCateNm"
             , "bookCateDepth"
             , "bookName"
             , "bookDesc"
             , "author"
             , "bookPrice"
             , "stock"
             , "stockStatus"
             , "publishDate"
             , "roleId"
             , "cateId"
             , "bookImgPath"
             , "writer"
             , "createDate"
        from book
        where "bookId"=#{bookId}
    </select>
    <!-- 인덱스 역할을 하는 파라미터를 String으로 하면 #{} 이 인식을 못할 경우 , ${} 사용하기
    마이바티스가 #{}바인딩 변수를 사용해서 문자열을 치환하면 varchar 타입으로 변환해 char 타입일 경우 인식이
    안될 수도 있음. ==> cast 사용해도 안되는 경우에는 ??
    -->
    <insert id="createBook" parameterType="BookVO">
        <selectKey keyProperty="bookId" resultType="String" order="BEFORE">
            SELECT BOOK_SECQUENCE.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO BOOK (
        "bookId"
        , "bookCateNm"
        , "bookCateDepth"
        , "bookName"
        , "bookDesc"
        , "author"
        , "bookPrice"
        , "stock"
        , "stockStatus"
        , "publishDate"
        , "roleId"
        , "cateId"
        , "bookImgPath"
        , "writer"

        ) VALUES (
        #{bookId}
        , #{bookCateNm}
        , #{bookCateDepth}
        , #{bookName}
        , #{bookDesc}
        , #{author}
        , #{bookPrice}
        , #{stock}
        , #{stockStatus}
        , #{publishDate}
        , #{roleId}
        , #{cateId}
       ,#{bookImgPath}
        , #{writer}
        )

    </insert>
    <!-- 도서 존재유뮤 유효성검사 쿼리 -->
    <select id="existBooks" parameterType="list" resultType="string">
        SELECT trim("bookId") as "bookId"
        FROM BOOK
        WHERE trim("bookId") IN
        <foreach collection="bookIds" item="bookId" open="(" separator="," close=")">
            #{bookId}
        </foreach>
    </select>
    <!--  도서존재유무 유효성 검사 후 존재하고 있는 데이터 삭제 쿼리   -->
    <delete id="deleteBooks" parameterType="list">
        DELETE FROM book
        WHERE trim("bookId") IN
        <foreach collection="existBookIds" item="bookId" open="(" separator="," close=")">
           #{bookId}
        </foreach>
    </delete>

    <update id="updateBook" parameterType="BookVO">
        UPDATE book
        <set>
            <if test="bookCateNm != null and bookCateNm != ''">
                "bookCateNm" = #{bookCateNm},
            </if>
            <if test="bookCateDepth != null and bookCateDepth != ''">
                "bookCateDepth" = #{bookCateDepth},
            </if>
            <if test="bookName != null and bookName != ''">
                "bookName" = #{bookName},
            </if>
            <if test="bookDesc != null and bookDesc != ''">
                "bookDesc" = #{bookDesc},
            </if>
            <if test="author != null and author != ''">
                "author" = #{author},
            </if>
            <if test="bookPrice != null">
                "bookPrice" = #{bookPrice},
            </if>
            <if test="stock != null">
                "stock" = #{stock},
            </if>
            <if test="stockStatus != null and stockStatus != ''">
                "stockStatus" = #{stockStatus},
            </if>
            <if test="publishDate != null and publishDate != ''">
                "publishDate" = #{publishDate},
            </if>
            <if test="roleId != null and roleId != ''">
                "roleId" = #{roleId},
            </if>
            <if test="cateId != null and cateId != ''">
                "cateId" = #{cateId},
            </if>
            <if test="bookImgPath != null and bookImgPath != ''">
                "bookImgPath" = #{bookImgPath},
            </if>
            <if test="writer != null and writer != ''">
                "writer" = #{writer},
            </if>

        </set>
        WHERE "bookId" = #{bookId}
    </update>


    <!-- collection은 List<String> 타입으로 받아온 리스트 문자열 타입 파라미터명을 입력 -->
</mapper>
