<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.team01.book.dao.BookDao">

<!-- 조회 -->
    <select id="selectAllBook" resultType="BookVO">
        select "bookId"
             , "bookName"
             , "bookDesc"
             , "author"
             , "bookPrice"
             , "bookImg"
             , "stock"
             , "stockStatus"
             , "publishDate"
             , "userId"
             , "roleId"
             , "cateId"
             , "viewCnt" from book
    </select>


</mapper>


