<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.team01.cart.dao.CartDao">

    <resultMap id="cartMap" type="cartVO">
        <result property="cartId" column="cartId"/>
        <result property="bookId" column="bookId"/>
        <result property="quantity" column="quantity"/>
        <result property="clientId" column="clientId"/>
        <result property="addCartDate" column="addCartDate"/>
        <association property="bookVO" javaType="BookVO">
            <result property="bookCateNm" column="bookCateNm" />
            <result property="bookName" column="bookName" />
            <result property="bookCateDepth" column="bookCateDepth" />
            <result property="author" column="author" />
            <result property="publishDate" column="publishDate" />
            <result property="bookPrice" column="bookPrice" />
            <result property="stock" column="stock" />
            <result property="bookImgPath" column="bookImgPath" />
            <result property="wishID" column="wishID" />
        </association>
    </resultMap>

<!-- 조회할 VO 객체를 결과 타입으로 선언해야 데이터가 매핑되어 반환됨 -->
    <select id="checkBookCount" parameterType="String" resultType="BookVO">
        SELECT
        "bookId"
        ,"bookName"
        ,"bookCateNm"
        ,"stock"
        FROM book
        WHERE "bookId" = #{bookId}
    </select>

<!--resultMap의 Id를 파라미터로 넘겨야 1:1 , 1:다 관계로 정의한 컬럼 매핑가능 -->
    <select id="selectBookInfo" parameterType="String" resultMap="cartMap">
        SELECT b."bookId"
             , b."bookName"
             , b."bookCateNm"
             , b."bookPrice"
             , b."stock"
             , b."bookCateDepth"
             , b."author"
             , b."publishDate"
             , b."bookImgPath"
             , c."quantity"
        FROM book b
                 LEFT JOIN cart c ON b."bookId" = c."bookId"
        WHERE b."bookId" = #{bookId}
    </select>

    <select id="existCart" parameterType="String" resultType="int">
        select
           count(*)
        from cart
        where "bookId" = #{bookId} and "clientId" =#{clientId}
    </select>

    <insert id="insertCart" parameterType="CartVO">
        <selectKey keyProperty="cartId" resultType="String" order="BEFORE">
            SELECT CART_SEQ.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO cart (
            "cartId","bookId", "quantity","clientId"
        )
        VALUES (
            #{cartId},#{bookId}, #{quantity}, #{clientId}
        )
    </insert>

    <update id="updateCart" parameterType="CartVO">
        UPDATE cart
            SET "quantity" = #{quantity}
        WHERE "bookId" = #{bookId}
    </update>


    <!-- 장바구니에 담긴 도서목록조회   -->
    <select id="selectUserBookList" parameterType="String" resultMap="cartMap">
        select
            c."cartId"
            ,c."addCartDate"
            ,c."quantity"
            ,c."clientId"
            ,b."bookId"
            ,b."bookName"
            ,b."bookPrice"
            ,b."bookCateNm"
            ,b."bookCateDepth"
            ,b."bookImgPath"
            ,b."author"
            ,b."publishDate"
        from
            book b join cart c on b."bookId" = c."bookId"
        where c."clientId"= #{clientId}
    </select>

    <delete id="deleteToCartList" parameterType="List">
        delete from cart
        where "cartId" in
        <foreach item="deleteId" collection="deleteIds" open="(" separator="," close=")">
                #{deleteId}
        </foreach>
    </delete>

    <update id="updateCartQuantity" parameterType="CartVO">
        UPDATE cart
        SET "quantity" = #{quantity}
        WHERE "bookId" = #{bookId} and "cartId"=#{cartId}
    </update>


</mapper>
