<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.team01.category.dao.CategoryDao">


    <select id="categoryList" resultType="CategoryVO">
        SELECT
            trim("cateDepthLevel") as  "cateDepthLevel",
            "cateId",
            "cateName"
        FROM
            category
        GROUP BY
            "cateDepthLevel", "cateId", "cateName"
        ORDER BY
            "cateDepthLevel"
    </select>

</mapper>