<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.team01.common.dao.ClientDao">
    <!-- ClientVO와 RoleVO 간 1:1 관계 매핑 -->
    <resultMap id="ClientWithRoleResultMap" type="ClientVO">
        <!-- ClientVO 필드 매핑 -->
        <id column="clientId" property="clientId" />
        <result column="clientName" property="clientName" />
        <result column="password" property="password" />
        <result column="birth" property="birth" />
        <result column="tel" property="tel" />
        <result column="zoneCode" property="zoneCode" />
        <result column="addr" property="addr" />
        <result column="detailAddr" property="detailAddr" />
        <result column="email" property="email" />
        <result column="picture" property="picture" />
        <result column="joinDate" property="joinDate" />
        <result column="withdrawDate" property="withDrawDate" />
        <result column="status" property="status" />

        <!-- RoleVO 매핑 -->
        <association property="roleVO" javaType="RoleVO">
            <id column="roleId" property="roleId" />
            <result column="roleName" property="roleName" />
        </association>

    </resultMap>


    <!-- 클라이언트와 역할 정보를 조회하는 쿼리 , 클라이언트와 역할테이블의 1:1 관계로 조인 -->
    <select id="getClientWithRole" resultMap="ClientWithRoleResultMap">
        SELECT
            c."clientId",
            c."clientName",
            c."password",
            c."birth",
            c."tel",
            c."zoneCode",
            c."addr",
            c."detailAddr",
            c."email",
            c."picture",
            c."joinDate",
            c."withDrawalDate",
            c."status",
            r."roleId",
            r."roleName"
        FROM Client c
                 LEFT JOIN roles r ON c."roleId" = r."roleId"
        WHERE c."clientId" = #{clientId}

    </select>

    <!-- 클라이언트에 사원번호,이름, 전화번호,생일로  중복 검증 조회-->
    <select id="selectOneStaff" parameterType="String">
        WITH  clientEmp  as (
            select * from emp e left join department d on ( e."departId" = d."departId")
            WHERE "staffId" =#{staffId}
              and "staffName" =#{staffName}
              and "email" =#{email}
        )

        SELECT
            c."clientId",
            c."clientName",
            c."birth",
            c."tel",
            c."zoneCode",
            c."addr",
            c."detailAddr",
            c."email",
            c."picture",
            c."joinDate",
            c."withDrawalDate",
            c."status"
        FROM Client c join clientEmp e
                           on  c."staffId" = e."staffId"  and c."clientName"=e."staffName";

    </select>

    <!-- staff 아이디 중복 확인 : emp 테이블과 조인해서 동일 사원 있는 지 검증 ? -->
    <select id="selectDuplicateClientStaff" parameterType="String" resultType="int">
        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END AS isDuplicate
        FROM Client
        WHERE "staffId" = #{staffId}
    </select>

    <!--
    장바구니 ? 특정 회원이 도서조회

    회원을 도서를 1권,1권이상 조회 가능하다 (회원과 도서는 1대 다의 관계)
회원은 하나의 역할을 가지고 있다 (회원과 역할은 1:1관계)

-->


</mapper>