<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.team01.client.dao.CreateBoardDao">

    <insert id="createBoard" parameterType="com.example.team01.vo.CreateBoardVO">
        <selectKey keyProperty="qnaOneId" resultType="String" order="BEFORE">
            SELECT 'qnaone' || LPAD(ADDQNAONE_SEQ.NEXTVAL, 4, '0') FROM DUAL
        </selectKey>
        
        <choose>
            <when test="category eq 'qnaone'">
                INSERT INTO qnaone (
                    "qnaOneId",
                    "qnaTitle",
                    "qnaContent",
                    "qnaWriter",
                    "qnaDate",
                    "qnaStatus",
                    "clientId",
                    "roleId",
                    "attachmentID"
                ) VALUES (
                    #{qnaOneId},
                    #{title},
                    #{content},
                    #{clientName},
                    SYSDATE,
                    '답변 대기',
                    #{clientId},
                    'ROLE_CLIENT',
                    #{fileName}
                )
            </when>
            <!-- 
            <when test="category == 'product'">
                INSERT INTO product_board (
                    // product board insert logic
                ) VALUES (
                    // values
                )
            </when>
            <when test="category == 'delivery'">
                INSERT INTO delivery_board (
                    // delivery board insert logic
                ) VALUES (
                    // values
                )
            </when>
            -->
        </choose>
    </insert>

</mapper>