<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

        <mapper namespace="com.example.team01.board.deliveryboard.dao.DeliveryBoardDao">
    
    <insert id="CreateDeliveryBoard" parameterType="DeliveryBoardVO">
        <!-- PostgreSQL selectKey -->
        <selectKey keyProperty="qnaDelId" resultType="String" order="BEFORE">
            SELECT 'qnadeliv' || LPAD(nextval('addqnadeliv_seq')::text, 4, '0')
        </selectKey>

        INSERT INTO qnadeliv (
            qnaDelId,
            qnaTitle,
            qnaContent,
            qnaWriter,
            qnaDate,
            qnaStatus,
            clientId,
            roleId,
            attachmentID
        ) VALUES (
            #{qnaDelId},
            #{qnaTitle},
            #{qnaContent},
            #{qnaWriter},
            NOW(),
            '답변 대기',
            #{clientId},
            'ROLE_CLIENT',
            #{attachmentID, jdbcType=VARCHAR}
        )
    </insert>

    <select id="GetDelivBoardlist" parameterType="String" resultType="DeliveryBoardVO">
        SELECT * FROM qnaDeliv WHERE clientId = #{userId} AND qnaDel IS NULL OR qnaDel = 'N'
        ORDER BY qnaDelId DESC
    </select>

    <select id="getDeliveryBoardDetail" parameterType="map" resultType="DeliveryBoardVO">
        SELECT qnaDelId,
               qnaTitle,
               qnaContent,
               qnaWriter,
               qnaDate,
               qnaDel,
               qnaStatus,
               clientId,
               roleId,
               attachmentID
        FROM qnaDeliv
        WHERE qnaDelId = #{boardId}
        AND clientId = #{userId}
        LIMIT 1
    </select>


    <delete id="deleteDeliveryBoard" parameterType="String">
        update qnaDeliv
        set qnaDel = 'Y',
            qnaDelDate = CURRENT_TIMESTAMP
        where qnaDelId = #{boardId}
    </delete>
</mapper>