<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.team01.index.dao.MainDao">


    <select id="selectBooks" resultType="BookVO">
        SELECT t.rank,
            t."bookId",
            t."bookCateNm",
            t."bookCateDepth",
            t."bookName",
            t."bookDesc",
            t."author",
            t."roleId",
            t."cateId",
            t."writer",
            t."bookImgPath"
        FROM (
            SELECT
                ROW_NUMBER() OVER (PARTITION BY b."bookCateNm" ORDER BY b."bookId" DESC) AS rank,
                b.*
            FROM book b
        ) t
        <![CDATA[ WHERE t.rank <= 8]]>
    </select>



</mapper>