<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.team01.payment.dao.PaymentDao">

<!--    //문자열 clinetId를 받아서 반환되는 데이터들은 목록은 CartVO타입-->
<!--    public List<CartVO> selectCartList(String clientId);-->
<!--    // 문자열 clinetId를 받아서 반환되는 데이터들은 PaymentVO 타입-->
<!--    public PaymentVO selectAddress(String clientId);-->


    <!-- 결제 목록 도서 1:다  -->
    <resultMap id="bookMap" type="CartVO">
        <id property="cartId" column="cartId"/>
        <result property="clientId" column="clientId"/>
        <result property="bookId" column="bookId"/>
        <result property="quantity" column="quantity"/>
        <result property="regDate" column="regDate"/>
        <collection property="bookList" ofType="BookVO">
            <result property="bookCateNm" column="bookCateNm" />
            <result property="bookName" column="bookName" />
            <result property="bookCateDepth" column="bookCateDepth" />
            <result property="author" column="author" />
            <result property="publishDate" column="publishDate" />
            <result property="bookPrice" column="bookPrice" />
            <result property="stock" column="stock" />
            <result property="bookImgPath" column="bookImgPath" />
            <result property="wishID" column="wishID" />
        </collection>
    </resultMap>


    <select id="selectCartList" parameterType="String" resultMap="bookMap">
        select
            c.*,b.*
        from
        (select * from cart
         where "clientId"=#{clientId}) c
        join book b on (c."bookId" = b."bookId")
    </select>

    <insert id="insertPayment" parameterType="PaymentVO">
        <selectKey keyProperty="payId" resultType="String" order="BEFORE">
            SELECT PAYID_SQE.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO payment
            ("payId", "payAccount","payStatus", "payMethod","addrId")
        VALUES
            (#{payId}, #{payAccount},#{payStatus}, #{payMethod},#{addrId})
    </insert>

    <insert id="insertPaymentList" parameterType="PaymentVO">
        INSERT INTO paymentList
        ("payId","bookId","quantity")
        VALUES
        (#{payId},#{bookId}, #{quantity})
    </insert>


</mapper>

<!--EnumType은  enumType.상수명으로 문자열 꺼내 사용-->