<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.team01.payment.dao.PaymentDao">

<!--    //문자열 clinetId를 받아서 반환되는 데이터들은 목록은 CartVO타입-->
<!--    public List<CartVO> selectCartList(String clientId);-->
<!--    // 문자열 clinetId를 받아서 반환되는 데이터들은 PaymentVO 타입-->
<!--    public PaymentVO selectAddress(String clientId);-->


    <!-- 결제 목록 도서 1:다  -->
    <resultMap id="bookMap" type="CartVO">
        <id property="cartId" column="cartId"/>
        <result property="clientId" column="clientId"/>
        <result property="bookId" column="bookId"/>
        <result property="quantity" column="quantity"/>
        <result property="regDate" column="regDate"/>
        <collection property="bookList" ofType="BookVO">
            <result property="bookCateNm" column="bookCateNm" />
            <result property="bookName" column="bookName" />
            <result property="bookCateDepth" column="bookCateDepth" />
            <result property="author" column="author" />
            <result property="publishDate" column="publishDate" />
            <result property="bookPrice" column="bookPrice" />
            <result property="stock" column="stock" />
            <result property="bookImgPath" column="bookImgPath" />
            <result property="wishID" column="wishID" />
        </collection>
    </resultMap>

    <resultMap id="PaymentListVOMap" type="PaymentListVO">
        <result column="payId" property="payId"/>
        <result column="bookId" property="bookId"/>
        <result column="quantity" property="quantity"/>
        <result column="bookCateNm" property="bookCateNm"/>
        <result column="bookCateDepth" property="bookCateDepth"/>
        <result column="bookName" property="bookName"/>
        <result column="author" property="author"/>
        <result column="bookPrice" property="bookPrice"/>
        <result column="publishDate" property="publishDate"/>
        <result column="roleId" property="roleId"/>
        <result column="cateId" property="cateId"/>
        <result column="bookImgPath" property="bookImgPath"/>
        <result column="payAccount" property="payAccount"/>
        <result column="payStatus" property="payStatus"/>
        <result column="payDate" property="payDate"/>
        <result column="payMethod" property="payMethod"/>
        <result column="payUpdateDate" property="payUpdateDate"/>
        <result column="addrId" property="addrId"/>
        <result column="clientId" property="clientId"/>
    </resultMap>



    <select id="selectCartList" parameterType="String" resultMap="bookMap">
        select
            c.*,b.*
        from
        (select * from cart
         where "clientId"=#{clientId}) c
        join book b on (c."bookId" = b."bookId")
    </select>

    <insert id="insertPayment" parameterType="PaymentVO">
        <selectKey keyProperty="payId" resultType="String" order="BEFORE">
            SELECT PAYID_SQE.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO payment
            ("payId", "payAccount","payStatus", "payMethod","addrId","clientId")
        VALUES
            (#{payId}, #{payAccount},#{payStatus}, #{payMethod},#{addrId},#{clientId})
    </insert>

    <insert id="insertPaymentList" parameterType="PaymentVO">
        INSERT INTO paymentList
        ("payId","bookId","quantity")
        VALUES
        (#{payId},#{bookId}, #{quantity})
    </insert>

    <select id="selectPaymentList" parameterType="String" resultMap="PaymentListVOMap">
        with payAndBook as (
            select
                p."payId",
                p."bookId",
                p."quantity",
                b."bookCateNm",
                b."bookCateDepth",
                b."bookName",
                b."author",
                b."bookPrice",
                b."publishDate",
                b."roleId",
                b."cateId",
                b."bookImgPath"
            from paymentList p
                     join book b
                          on (p."bookId" = b."bookId")
        )
        select
            a.*,
            b."payAccount",
            b."payStatus",
            b."payDate",
            b."payMethod",
            b."payUpdateDate",
            b."addrId",
            b."clientId",
            c."addr",
            c."addrType",
            c."detailAddr",
            c."zoneCode"
        from payAndBook a
                 join payment b on (a."payId" = b."payId")
                 join address c on (b."addrId" = c."addrId")
        where b."clientId" = #{clientId}
    </select>

</mapper>

<!--EnumType은  enumType.상수명으로 문자열 꺼내 사용-->