<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.team01.payment.dao.PaymentDao">

<!--    //문자열 clinetId를 받아서 반환되는 데이터들은 목록은 CartVO타입-->
<!--    public List<CartVO> selectCartList(String clientId);-->
<!--    // 문자열 clinetId를 받아서 반환되는 데이터들은 PaymentVO 타입-->
<!--    public PaymentVO selectAddress(String clientId);-->


    <!-- 결제 목록 도서 1:다  -->
    <resultMap id="bookMap" type="CartVO">
        <id property="cartId" column="cartId"/>
        <result property="clientId" column="clientId"/>
        <result property="bookId" column="bookId"/>
        <result property="quantity" column="quantity"/>
        <result property="regDate" column="regDate"/>
        <collection property="bookList" ofType="BookVO">
            <result property="bookCateNm" column="bookCateNm" />
            <result property="bookName" column="bookName" />
            <result property="bookCateDepth" column="bookCateDepth" />
            <result property="author" column="author" />
            <result property="publishDate" column="publishDate" />
            <result property="bookPrice" column="bookPrice" />
            <result property="stock" column="stock" />
            <result property="bookImgPath" column="bookImgPath" />
            <result property="wishID" column="wishID" />
        </collection>
    </resultMap>
    <resultMap id="PaymentListVOMap" type="PaymentListVO">
        <result column="payId" property="payId"/>
        <result column="bookId" property="bookId"/>
        <result column="quantity" property="quantity"/>
        <result column="partPayStatus" property="partPayStatus"/>
        <result column="bookCateNm" property="bookCateNm"/>
        <result column="bookCateDepth" property="bookCateDepth"/>
        <result column="bookName" property="bookName"/>
        <result column="author" property="author"/>
        <result column="bookPrice" property="bookPrice"/>
        <result column="publishDate" property="publishDate"/>
        <result column="roleId" property="roleId"/>
        <result column="cateId" property="cateId"/>
        <result column="bookImgPath" property="bookImgPath"/>
        <result column="payAccount" property="payAccount"/>
        <result column="payStatus" property="payStatus"/>
        <result column="payDate" property="payDate"/>
        <result column="payMethod" property="payMethod"/>
        <result column="payUpdateDate" property="payUpdateDate"/>
        <result column="addrId" property="addrId"/>
        <result column="clientId" property="clientId"/>
        <result column="cancelPayAccount" property="cancelPayAccount"/>
        <result column="resultPayAccount" property="resultPayAccount"/>
    </resultMap>

    <select id="selectCartList"  resultMap="bookMap">
        select
            c.*,b.*
        from
        (select * from cart
         where clientId = #{clientId}) c
        join book b on (c.bookId = b.bookId)
    </select>

    <insert id="insertPayment" parameterType="PaymentVO">
        <selectKey keyProperty="payId" resultType="java.lang.Long" order="BEFORE">
            SELECT nextval('payid_seq')
        </selectKey>
        INSERT INTO payment
        (payId, payAccount, payStatus, payMethod, addrId, clientId)
        VALUES
        (#{payId}, #{payAccount}, #{payStatus}, #{payMethod}, #{addrId}, #{clientId})
    </insert>

    <insert id="insertPaymentList" parameterType="PaymentVO">
        INSERT INTO paymentList
            (payId,bookId,quantity)
        VALUES
            (#{payId},#{bookId}, #{quantity})
    </insert>

    <select id="selectPaymentList" parameterType="String" resultMap="PaymentListVOMap">
        with payAndBook as (
            select
                p.payId,
                p.bookId,
                p.quantity,
                p.partPayStatus,
                b.bookCateNm,
                b.bookCateDepth,
                b.bookName,
                b.author,
                b.bookPrice,
                b.publishDate,
                b.roleId,
                b.cateId,
                b.bookImgPath
            from paymentList p
                     join book b
                          on (p.bookId = b.bookId)
        )
        select
            a.*,
            b.payAccount,
            b.payStatus,
            b.payDate,
            b.payMethod,
            b.payUpdateDate,
            b.addrId,
            b.clientId,
            c.addr,
            c.addrType,
            c.detailAddr,
            c.zoneCode
        from payAndBook a
                 join payment b on (a.payId = b.payId)
                 join address c on (b.addrId = c.addrId)
        where b.clientId = #{clientId}
        order by a.payId desc
    </select>

    <!-- 3개월 이내 결제건수 조회    -->
    <select id="selectPaymentCnt" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM payment
        <![CDATA[
        WHERE clientId = #{clientId}
          AND payStatus = 'COMPLETED'
          AND payDate >= CURRENT_DATE - INTERVAL '3 months'
        ]]>
    </select>

    <!-- 전체취소할 PaymentList 결제내역 조회    -->
    <select id="selectAllCancelPaymentList" parameterType="String" resultMap="PaymentListVOMap">
        select
            payId
            ,bookId
            ,quantity
            ,partPayStatus
        from paymentList
        where payId=#{payId} and bookId IN
        <foreach collection="bookIds" item="bookId" open="(" separator="," close=")">
            #{bookId}
        </foreach>
        and partPayStatus != 'CANCEL'
    </select>
    <!-- payment 결제취소 상태 갱신 , 파라미터 payId, clientId-->
    <update id="UpdateCancelPaymentAccount" parameterType="com.example.team01.dto.payment.PaymentCancelDTO">
        update payment
        set payAccount = #{payAccount}
          ,payUpdateDate = CURRENT_TIMESTAMP
        where payId = #{payId}
          and clientId=#{clientId}
    </update>


    <!-- paymentList 결제취소 상태 갱신 , 파라미터 payId, clientId-->
    <update id="UpdatePaymentListCancelStatus" parameterType="com.example.team01.dto.payment.PaymentCancelDTO">
        update paymentList
        set partPayStatus = #{partPayStatus}
          ,cancelDate = CURRENT_TIMESTAMP
        where payId = #{payId}
          and bookId=#{bookId}
    </update>

    <!-- 결제취소  -->
    <select id="selectCancelBooksInfo" resultMap="PaymentListVOMap">
        SELECT
            p.payId,
            p.payAccount,
            b.bookPrice,
            pl.quantity,
            pl.partPayStatus,
            SUM(b.bookPrice * pl.quantity) AS cancelPayAccount,
            p.payAccount - SUM(b.bookPrice * pl.quantity) AS resultPayAccount
        FROM payment p
                 JOIN paymentList pl
                      ON p.payId = pl.payId
                 JOIN book b
                      ON pl.bookId = b.bookId
        WHERE p.payId = #{payId}
          AND pl.bookId = #{bookId}
        GROUP BY
            p.payId,
            p.payAccount,
            b.bookPrice,
            pl.quantity,
            pl.partPayStatus
    </select>

    <select id="selectCancelPaymentList"  resultMap="PaymentListVOMap">
        select
        payId,
        bookId,
        partPayStatus
        from paymentList
        where payId = #{payId}
        and bookId IN
        <foreach collection="bookIds" item="bookId" open="(" separator="," close=")">
            #{bookId}
        </foreach>
    </select>

    <!-- 전체취소후 payment의 paystatus 갱신  -->
    <update id="updateCancelPayment">
        update payment
        set payStatus = #{payStatus}
        where payId = #{payId}
          and clientId = #{clientId}
    </update>

</mapper>

<!--EnumType은  enumType.상수명으로 문자열 꺼내 사용-->