<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="com.example.team01.board.productboard.dao.ProductBoardDao">

    <insert id="CreateProductBoard" parameterType="ProductBoardVO">
        
        <selectKey keyProperty="qnaProId" resultType="String" order="BEFORE">
            SELECT 'qnapro' || LPAD(ADDQNAPRO_SEQ.NEXTVAL, 4, '0') FROM DUAL
        </selectKey>

        INSERT INTO qnapro (
            "qnaProId",
            "qnaTitle",
            "qnaContent",
            "qnaWriter",
            "qnaDate",
            "qnaStatus",
            "clientId",
            "roleId"
        ) VALUES (
            #{qnaProId},
            #{qnaTitle},
            #{qnaContent},
            #{qnaWriter},
            SYSDATE,
            '답변 대기',
            #{clientId},
            'ROLE_CLIENT'
        )
    </insert>

    <select id="GetProductBoardlist" parameterType="String" resultType="productBoardVO">
               SELECT * FROM qnapro WHERE "clientId" = #{userId} AND "qnaDel" IS NULL OR "qnaDel" = 'N'
        ORDER BY "qnaProId" DESC
    </select>

    <select id="getProductBoardDetail" parameterType="map" resultType="productBoardVO">
        SELECT "qnaProId",
        "qnaTitle",
        "qnaContent",
        "qnaWriter",
        "qnaDate",
        "qnaDel",
        "qnaStatus",
        "clientId",
        "roleId",
        "attachmentID"
    FROM qnapro
    WHERE "qnaProId" = #{boardId}
    AND "clientId" = #{userId}
    AND ROWNUM = 1
    </select>

    <delete id="deleteProductBoard" parameterType="String">
        update qnapro
        set "qnaDel" = 'Y', 
        "qnaDelDate" = SYSDATE
        where "qnaProId" = #{boardId}
    </delete>

</mapper>