<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="com.example.team01.productboard.dao.ProductBoardDao">

    <insert id="CreateProductBoard" parameterType="com.example.team01.vo.ProductBoardVO">
        
        <selectKey keyProperty="qnaProId" resultType="String" order="BEFORE">
            SELECT 'qnapro' || LPAD(ADDQNAPRO_SEQ.NEXTVAL, 4, '0') FROM DUAL
        </selectKey>

        INSERT INTO qnapro (
            "qnaProId",
            "qnaTitle",
            "qnaContent",
            "qnaWriter",
            "qnaDate",
            "qnaStatus",
            "clientId",
            "roleId"
        ) VALUES (
            #{qnaProId},
            #{title},
            #{content},
            #{clientName},
            SYSDATE,
            '답변 대기',
            #{clientId},
            'ROLE_CLIENT'
        )
    </insert>
</mapper>