<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.team01.admin.dao.QnaProductDao">  <!--사용하는 Dao 연결-->
    <!--메서드 구현부-->
    <!--구현 방식 ex) <select id = "Dao에서 정의한 메서드명"></select>-->

    <select id="totalRecord" resultType="int" parameterType="com.example.team01.utils.Pagination">
        SELECT COUNT(*)
        FROM qnaPro
        <where>
        <include refid="searchFrag"/>
        AND (qnaDel = 'N' OR qnaDel IS NULL) AND clientId != #{userId}
        </where>
    </select>

    <sql id="searchFrag">
        <trim prefixOverrides="AND|OR" suffixOverrides="AND">

            <!-- 답변 상태 필터 (searchType에 따라 필터링) -->
        <choose>
            <!-- 전체 -->
            <when test="pagination.detailCondition.searchType == 'all'">
            (
                STRPOS(qnaTitle, #{pagination.detailCondition.keyword}) > 0 OR
                STRPOS(qnaWriter, #{pagination.detailCondition.keyword}) > 0 OR
                STRPOS(qnaStatus, #{pagination.detailCondition.keyword}) > 0 OR
                STRPOS(TO_CHAR(qnaDate, 'YYYY-MM-DD HH24:MI:SS'), #{pagination.detailCondition.keyword}) > 0 OR
                STRPOS(clientId, #{pagination.detailCondition.keyword}) > 0 OR
                STRPOS(qnaContent, #{pagination.detailCondition.keyword}) > 0
                ) AND
            </when>

            <!-- 제목 -->
            <when test="pagination.detailCondition.searchType == 'title'">
                STRPOS(qnaTitle, #{pagination.detailCondition.keyword}) > 0 AND
            </when>
        
            <!-- 제목 + 내용 -->
            <when test="pagination.detailCondition.searchType == 'title_content'">
            (
                STRPOS(qnaTitle, #{pagination.detailCondition.keyword}) > 0 OR
                STRPOS(qnaContent, #{pagination.detailCondition.keyword}) > 0
            ) AND
            </when>

            <!-- 내용 -->
            <when test="pagination.detailCondition.searchType == 'content'">
                STRPOS(qnaContent, #{pagination.detailCondition.keyword}) > 0 AND
            </when>

            <!-- 작성자 -->
            <when test="pagination.detailCondition.searchType == 'userId'">
            (
                STRPOS(qnaWriter, #{pagination.detailCondition.keyword}) > 0 OR
                STRPOS(clientId, #{pagination.detailCondition.keyword}) > 0
            ) AND
            </when>

            <!-- 답변 여부 -->
            <when test="pagination.detailCondition.searchType == 'answerStatus'">
                STRPOS(qnaStatus, #{pagination.detailCondition.keyword}) > 0 AND
            </when>

                        <!-- 키워드가 존재할 경우, 전체 컬럼 검색 -->
            <otherwise>
                <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(pagination.detailCondition.keyword)">
                    (
                    STRPOS(qnaTitle, #{pagination.detailCondition.keyword}) > 0 OR
                    STRPOS(qnaWriter, #{pagination.detailCondition.keyword}) > 0 OR
                    STRPOS(qnaStatus, #{pagination.detailCondition.keyword}) > 0 OR
                    STRPOS(TO_CHAR(qnaDate, 'YYYY-MM-DD HH24:MI:SS'), #{pagination.detailCondition.keyword}) > 0 OR
                    STRPOS(clientId, #{pagination.detailCondition.keyword}) > 0 OR
                    STRPOS(qnaContent, #{pagination.detailCondition.keyword}) > 0
                    ) AND
                </if>
            </otherwise>
            </choose>
        </trim>
    </sql>

    <select id="getAllQnaProductList" resultType="QnaProductVO" parameterType="com.example.team01.utils.Pagination">
        SELECT
        TRIM(qnaProId) AS qnaProId,
        qnaTitle,
        qnaWriter,
        clientId,
        qnaStatus,
        qnaDate,
        qnaDel
        FROM qnaPro
        <trim prefix="WHERE" prefixOverrides="AND|OR">

            <include refid="searchFrag"/>
            AND (qnaDel = 'N' OR qnaDel IS NULL)
            AND clientId != #{userId}
        </trim>
        ORDER BY qnaProId DESC
        LIMIT #{pagination.pageSize}
        OFFSET #{pagination.offset}
    </select>

    <select id="getProDetailBoard" resultType="QnaProductVO" parameterType="map">
        SELECT
            qnaProId,
            qnaTitle,
            qnaContent::text AS qnaContent,
                qnaWriter,
            qnaDate,
            qnaDel,
            qnaStatus,
            clientId,
            roleId,
            attachmentID
        FROM qnaPro
        WHERE qnaProId = #{boardId}
          AND clientId = #{userId}
            LIMIT 1
    </select>

    <delete id="deleteProductBoard" parameterType="map">
        update qnaPro
        set qnaDel = 'Y',
            qnaDelDate = SYSDATE
        where qnaProId = #{boardId}
    </delete>
        

    <update id="updateQnaProductStatus" parameterType="map">
        update qnaPro
        set qnaStatus = '답변 완료'
        where qnaProId = #{boardId}
    </update>
</mapper>