<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.team01.signup.dao.SignUpDao">
    <!--메서드 구현부-->

    <!-- 사용자 정보 저장 -->
    <!-- 변경되는 데이터가 없을 때 resultType 안 써도 됨 -->
    <insert id="insertUserData" parameterType="SignUpVO">
        <!-- DB Code 작성 -->
        INSERT INTO client ("clientId","roleId", "clientName", "password", "birth", "tel", "zoneCode", "addr", "detailAddr", "email", "picture")
        VALUES (#{clientId}, #{roleId}, #{clientName}, #{password}, #{birth}, #{tel}, #{zoneCode}, #{addr}, #{detailAddr}, #{email},#{picture})
    </insert>

    <!-- 아이디 중복 확인 -->
    <select id="selectDuplicateId" parameterType="String" resultType="int">
        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END AS isDuplicate
        FROM client
        WHERE "clientId" = #{clientId}
    </select>

    <!-- staff 아이디 중복 확인 -->
    <select id="selectDuplicateStaffId" parameterType="String" resultType="int">
        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END AS isDuplicate
        FROM EMP
        WHERE "staffId" = #{staffId}
    </select>

    <!-- staff 사원 정보 -->
    <select id="selectStaffInfo" parameterType="String" resultType="SignUpVO">
        SELECT
            emp."staffId",
            emp."staffName",
            emp."roleId",
            emp."startDate",
            dep."departId",
            dep."departName"
        FROM
            (SELECT "staffId", "staffName", "roleId","startDate", "departId"
             FROM emp
             WHERE "staffId" = #{staffId}) emp
                LEFT JOIN DEPARTMENT dep
                          ON emp."departId" = dep."departId"
    </select>


    <!-- 중복 확인 -->
    <select id="selectDuplicateEmail" parameterType="String" resultType="int">
        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END AS isDuplicate
        FROM client
        WHERE  "email" = #{email}
    </select>


</mapper>