<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.team01.userViewBook.dao.UserViewBookDao">

    <!-- userViewBook & book 객체 매핑 resultMap  -->
    <resultMap id="userBookViewMap" type="UserViewBookVO">
        <id property="viewId" column="viewId"/>
        <result property="clientId" column="clientId"/>
        <result property="viewDate" column="viewDate"/>
        <result property="bookId" column="bookId"/>
        <association property="bookVO" javaType="BookVO">
            <result property="bookName" column="bookName"/>
            <result property="bookCateNm" column="bookCateNm"/>
            <result property="bookCateDepth" column="bookCateDepth"/>
            <result property="author" column="author"/>
            <result property="bookPrice" column="bookPrice"/>
            <result property="publishDate" column="publishDate"/>
            <result property="stockStatus" column="stockStatus"/>
            <result property="cateId" column="cateId"/>
            <result property="bookImgPath" column="bookImgPath"/>
            <result property="recomType" column="recomType"/>
        </association>
    </resultMap>



    <!-- 사용자별 도서상품 조회 데이터 추가 쿼리  -->
    <insert id="insertUserViewBook">
        INSERT INTO userviewbook (
            clientid,
            bookid,
            viewdate
        )
        VALUES (
                   #{clientId},
                   #{bookId},
                   CURRENT_TIMESTAMP
               )
            ON CONFLICT (clientid, bookid)
            DO UPDATE SET viewdate = CURRENT_TIMESTAMP
    </insert>


    <!-- 사용자가 조회한 도서데이터 8건까지 끊기 -->
    <select id="selectUserViewBook" parameterType="String" resultMap="userBookViewMap">
        SELECT
            uv.viewId,
            uv.clientId,
            uv.viewDate,
            uv.bookId,
            b.bookName,
            b.bookCateNm,
            b.bookCateDepth,
            b.author,
            b.bookPrice,
            b.publishDate,
            b.stockStatus,
            b.cateId,
            b.bookImgPath,
            b.recomType
        FROM userviewbook uv
                 JOIN book b
                      ON uv.bookId = b.bookId
        WHERE uv.clientId = #{clientId}
        ORDER BY uv.viewDate DESC
            LIMIT 8
    </select>

</mapper>