<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.team01.common.dao.VisitCountDao">
    <insert id="insertVisitLog" parameterType="com.example.team01.dto.common.VisitRequestDTO">
        INSERT INTO visitLogs (
            pageUrl,
            userAgent,
            ipAddress,
            visitTime,
            sessionId
        ) VALUES (

                     #{pageUrl},
                     #{userAgent},
                     #{ipAddress},
                     #{visitTime},
                     #{sessionId}
                 )
    </insert>

    <insert id="insertDailyPageView" parameterType="com.example.team01.dto.common.VisitRequestDTO">
        MERGE INTO dailyStats AS t
            USING (
                SELECT
                    DATE_TRUNC('day', #{visitTime}) AS visitTime,
                    #{pageUrl} AS pageUrl
            ) AS s
            ON t.visittime = s.visittime
                AND t.pageurl = s.pageurl
            WHEN MATCHED THEN
                UPDATE SET pageviewcount = t.pageviewcount + 1
            WHEN NOT MATCHED THEN
                INSERT (visittime, pageurl, pageviewcount)
                    VALUES (s.visittime, s.pageurl, 1);

    </insert>

</mapper>
