<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.team01.wishList.dao.WishListDao">
  
    <resultMap id="wishListMap" type="WishListVO">
        <id property="wishId" column="wishId"/>
        <result property="wishDate" column="wishDate"/>
        <association property="clientVO" javaType="ClientVO">
            <id property="clientId" column="clientId"/>
        </association>
        <association property="roleVO" javaType="RoleVO">
            <id property="roleId" column="roleId"/>
        </association>
    </resultMap>
    
    <insert id="insertWishList" parameterType="String">
        <selectKey keyProperty="wishId" resultType="String" order="BEFORE">
            SELECT WISH_QEC.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO WISHLIST
            ("wishId","clientId","bookId")
        values(#{wishId},#{clientId},#{bookId})
    </insert>

</mapper>