.wishList {}

.wishList .book-item-list{  height: 560px;}
.wishList  .book-item .card{background: rgba(242,242,242,0.5)}
.wishList  .book-item .card-header{
    border:none;
    border-radius: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 180px;
}
.wishList .book-item{
    width: calc((100%/4)  - 8px);
    height: 100%;
    margin-bottom: 0;
    padding: 40px
}
.wishList .book-item .img-box{aspect-ratio: 3/4}
.wishList .book-title{font-size:2rem; min-height: 63px}
.wishList .book-title span{overflow: hidden}