// fonts.scss
/*
local(확장자를 제외한 '폰트명' 입력) => 내 컴퓨터에 설치되어있는 폰트가 존재하는지 먼저 탐색함
display: swap; 폰트가 로드 되지 않으면 대체폰트가 먼저 보여지고, 사용할 폰트가 로드되면 교체되게 함
font-weight: normal; => 기본이 되는 폰트의 스타일을 지정
font-style: normal => font 기울임, 안 기울임 정도 등
normal = 400
bold = 700
*/
@font-face {
  font-family: 'NanumHumanLight';
  src:local('NanumHumanLight'), url('/frontend/dist/assets/fonts/NanumHumanLight.woff') format('woff'),
  url('/frontend/dist/assets/fonts/NanumHumanLight.woff2') format('woff2');
  font-display: swap; // 폰트 미로드 시, 대체 폰트로 텍스트 표현
  font-weight: normal;
  font-style: normal; //
}

@font-face {
  font-family: 'NanumHumanRegular';
  src: local('NanumHumanRegular'),url('/frontend/dist/assets/fonts/NanumHumanRegular.woff') format('woff'),
  url('/frontend/dist/assets/fonts/NanumHumanRegular.woff2') format('woff2');
  font-weight:600;
  font-style: normal;
}

@font-face {
  font-family: 'NanumHumanBold';
  src: local('NanumHumanBold'), url('/frontend/dist/assets/fonts/NanumHumanBold.woff') format('woff'),
  url('/frontend/dist/assets/fonts/NanumHumanBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}


// theJamsil
@font-face {
  font-family: 'TheJamsilRegular';
  src: local('TheJamsilRegular'),url('/frontend/dist/assets/fonts/TheJamsilRegular.woff') format('woff'),
  url('/frontend/dist/assets/fonts/TheJamsilRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TheJamsilMedium';
  src:  local('TheJamsilMedium'),url('/frontend/dist/assets/fonts/TheJamsilMedium.woff') format('woff'),
  url('/frontend/dist/assets/fonts/TheJamsilMedium.woff2') format('woff2');
  font-weight:600;
  font-style: normal;
}

@font-face {
  font-family: 'TheJamsilBold';
  src:  local('TheJamsilBold'),url('/frontend/dist/assets/fonts/TheJamsilBold.woff') format('woff'),
  url('/frontend/dist/assets/fonts/NanumHumanBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

*{font-family:NanumHumanRegular;}

