/*
mixin은 함수 내부에 css 코드 덩어리를 저장하여, 다른 CSS 섹션에서 @include를 사용하여
해당 mixin의 style을 호출해 사용하며, 함수의 기능을 가지고 있기때문에 파라미터를 사용할 수 있다.
@mixin 함수명(파라미터1,파라미터2...){}
파라미터 개수만큼 전부 채워줘야 함
*/

/*
'@extend + .클래스명 or #아이디명'
'%' 모듈화 기호
*/
%box{display: block; width:100%; position: relative; }
%clearfix{content:''; display:block; overflow:hidden;lign-height:0;clear:both;}

@mixin hidden {
  position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden;
  clip: rect(0, 0, 0, 0); white-space: nowrap; border: 0;
}

@mixin logo($width,$height,$display){
  display: $display;
  width: $width;
  height: $height;
}

@mixin box($width,$height,$display,$position){
  display: $display;
  width: $width;
  height: $height;
  position:$position;
  @extend %clearfix; // 모듈 호출
}

@mixin btn(){}
@mixin layoutPaddig($layoutPadding){
  padding:0 $layoutPadding;
}

@mixin flex($align,$justify){
  display: inline-flex;
  align-items:$align;
  justify-content:$justify;
  //width는 변동성이 많아서 직접 기입
}

@mixin arrow($borderWidth,$borderColor){
  content: '';
  display:inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $borderWidth; // 화살표 두께
  border-color: $borderColor; // 화살표 컬러
}
@mixin arrowHover($arrowColor){

}