/*공통변수*/
$mainColor: #BED297;
$subColor: #8B655A;
$color00: #A47763;
$color01: #89C53B;

$display: inline-block;
/*폰트*/
$fontGnbColor: #595959;
$fontTnbColor: #595959;
$fontFooterColor: #595959;
$fontGnbSize: 36px;
$fontTnbSize: 20px;
$fontLarge: 30px;
$fontRegular: 20px;
$fontSmall: 16px;

/* 레이이아웃 - header & footer*/
$layoutPadding : 30px; // header, footer 양 여백
$layoutMargin : 30px;
$headerHeight: 50px;
$footerHeight: 300px;
$gnb-font: 'TheJamsil';
$gnb-font-color:#56453E;
$gnb-hover-color:#fff;
$pageMaxwidth:calc(100% - 30px);

/*depth*/
$firstDepthBg:$mainColor;
$secondDepthBg:$subColor;
$thirdDepthBg:$subColor;

/*관리자 변수*/
$adMainColor: #BED297;
$adSubColor: #8B655A;
$adGnbColor: #BED297;
$adFooterColor:#8B655A;
$adBgColor:#E9E9DD;
$adleftWidth: 280px;
$adContentWidth: calc(100% - ($adleftWidth + 40px));

/*사용자 변수*/
$ClMainColor: #BED297;
$ClSubColor: #8B655A;