/*공통변수*/



/*depth*/
//$firstDepthBg:$mainColor00;
//$secondDepthBg:$subColor;
//$thirdDepthBg:$subColor;
$color00: #A47763;
$color01: #56453E;
$color02: #A37865;
$color03: #89C53B;
$color04: #A4D761;
$color05: #BED297;
$color06: #FFE377;
$color07: #333333;
$color08: #ffffff;
$color09: #F7ECE7;
$color10:#FFECA4;
$color11:#625B5B;
$color12:#A0080B;
$color13: #C39AEE;

/*tultip 컬러*/
$cate00:$color04; //추천
$cate01:$color06; //일반
$cate02:$color13; //인기도서 , 답변대기
$cate03:$color12; //답변완료


/* 레이이아웃 - header & footer*/
$layoutPadding : 0 6rem; // header, footer,content 양 여백
$layoutMargin : 30px;
$headerHeight: 50px;
$footerHeight: 300px;
$subHeight:500px;
$gnb-font: 'TheJamsil';
$gnb-font-color:$color01;
$gnb-hover-color:#fff;
$default-font-color:$color07;

/*폰트*/
$fontGnbColor: $color07; // 대메뉴 폰트 컬러
$fontTnbColor: $color07; // 상단메뉴 폰트컬러

$fontGnbSize: 36px; // 대메뉴 폰트 사이즈
$fontTnbSize: 20px; // 상단메뉴 폰트사이즈
$fontLarge: 30px;
$fontRegular: 20px;
$fontSmall: 16px;




/*관리자*/

//관리자 Header
$AdminHeaderColor: $color06; //  관리자 header 배경
$AdminSecondDepthBg: $color08;
$AdminFooterColor: $color04; //  관리자 footer 배경
$AdminFooterFontColor:$color07;

//관리자 tnb
//$AdminTnbColor:$color01;
$AdminTnbBtn:$color01;
$AdminTnbFontColor: $color05; //관리자 header 배경
// 관리자 레프트
$AdminLeftColor:$color09; // 관리자 레프트 1차 메뉴 배경
$AdminLeftMenuColor:$color10;//관리자 레프트 2차메뉴 배경
$AdminTitle:#56453E; // 관리자컨텐츠 타이틀
//관리자 footer
$AdminFooterColor:$color04;

//클라이언트 footer
$ClientFooterColor:$color11;
$ClientFooterFontColor:$color08;
//custom 테이블컬러
$tableHeader:$color06;



$leftWidth: 280px;
$contentWidth: calc(100% - ($leftWidth + 40px));





