@charset "UTF-8";
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
}

[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before {
  content: "";
  content: none;
}

q:after, q:before {
  content: "";
  content: none;
}

* {
  color: #333;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*
local(확장자를 제외한 '폰트명' 입력) => 내 컴퓨터에 설치되어있는 폰트가 존재하는지 먼저 탐색함
display: swap; 폰트가 로드 되지 않으면 대체폰트가 먼저 보여지고, 사용할 폰트가 로드되면 교체되게 함
font-weight: normal; => 기본이 되는 폰트의 스타일을 지정
font-style: normal => font 기울임, 안 기울임 정도 등
normal = 400
bold = 700
*/
/* NanumHuman */
@font-face {
  font-family: "NanumHuman";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2501-1@1.1/NanumHumanTTFRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumHuman";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2501-1@1.1/NanumHumanTTFBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
/*TheJamsil */
@font-face {
  font-family: "TheJamsil";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil3Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TheJamsil";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
/*공통변수*/
/*폰트*/
/* 레이이아웃 - header & footer*/
/*depth*/
/*관리자 변수*/
/*사용자 변수*/
/*
mixin은 함수 내부에 css 코드 덩어리를 저장하여, 다른 CSS 섹션에서 @include를 사용하여
해당 mixin의 style을 호출해 사용하며, 함수의 기능을 가지고 있기때문에 파라미터를 사용할 수 있다.
@mixin 함수명(파라미터1,파라미터2...){}
파라미터 개수만큼 전부 채워줘야 함
*/
/*
'@extend + .클래스명 or #아이디명'
'%' 모듈화 기호
*/
.footer-inner, .footer-info {
  display: block;
  width: 100%;
  position: relative;
}

.main, .page, .left, .right, .left-menu, .content, .user-info, header {
  content: "";
  display: block;
  overflow: hidden;
  clear: both;
}

.hoverLeaf::before, .hoverLeaf::after, .leaf::after, .title-border::before, .title-border::after, .bullet > li .tit::before, .depth.first-depth .depth-menu.first::after, .depth.first-depth .second-depth > li::before, .menu-navi > li:not(:last-child)::before, .footer-info > li:not(:last-child)::after, .form-group-title::after, .form-title::after {
  content: "";
  display: inline-block;
}

.gnb .first-depth > li > a:hover span, .gnb .first-depth > li > a:focus span {
  transition: color 0.3s ease-in-out;
}

.form-group-title, .form-title {
  font-weight: bold;
  min-width: 110px;
  padding-right: 10px;
  text-align: left;
  position: relative;
}
.form-group-title::after, .form-title::after {
  position: absolute;
  right: 10px;
  top: 0px;
  width: 1px;
  height: 100%;
  background: #89C53B;
}

table {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
}

tr {
  display: table-row;
}

th, td {
  display: table-cell;
  vertical-align: middle;
}

table .imgbox {
  aspect-ratio: 1/1;
  max-width: 200px;
  width: 100%;
}
table .imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.table-custom thead th, .table-custom thead th * {
  background-color: #BED297;
  color: #fff;
}

@keyframes dobleleaf {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(0);
  }
}
header {
  height: auto;
}

header, .header-inner, .gnb {
  position: relative;
}

.header-inner {
  padding: 0 30px;
}
.header-inner.menu {
  background-color: #BED297;
}

.gnb .first-depth > li > a {
  min-height: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px 40px 0 40px;
}
.gnb .first-depth > li > a > span {
  color: #56453E;
  font-family: "TheJamsil";
  font-size: 23px;
  font-weight: bold;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}
.gnb .first-depth > li > a .hoverLeaf {
  position: absolute;
  opacity: 1;
  visibility: hidden;
  width: 40px;
  height: 13px;
  position: absolute;
  top: -14px;
  left: 0;
  animation-name: dobleleaf;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.gnb .first-depth > li > a:hover span, .gnb .first-depth > li > a:focus span {
  color: #fff;
  text-shadow: #595959 0px 1px 1px;
}
.gnb .first-depth > li > a:hover .hoverLeaf, .gnb .first-depth > li > a:focus .hoverLeaf {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}
.logo {
  display: inline-block;
  width: 140px;
  height: 66px;
  position: absolute;
  left: 30px;
  top: 0;
  z-index: 99;
  padding: 12px 10px 8px 0px;
}
.logo > a, .logo em, .logo span {
  width: 100%;
  height: 100%;
  display: block;
}
.logo .img {
  background-image: url("../../src/assets/images/clLogo_w.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.user-info span, .user-info button, .user-info a {
  color: #fff;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.user-info > ul {
  background-color: #A47763;
  border-radius: 10px;
  padding: 11px 15px;
  float: right;
  margin: 20px 0;
  width: auto;
}
.user-info > ul > li:not(:last-child) {
  margin-right: 15px;
}

.client .menu {
  background-color: transparent;
}
.client .gnb .first-depth > li > a > span {
  color: #595959;
}
.client .user-info > ul {
  background: #BED297;
}
.client .user-info span, .client .user-info button, .client .user-info a {
  color: #595959;
  font-weight: bold;
}

.footer {
  background: #BED297;
}

.footer-inner {
  padding: 30px;
}

.footer-info > li {
  display: inline-block;
  margin-bottom: 5px;
  position: relative;
  padding-right: 10px;
  margin-right: 10px;
}
.footer-info > li:not(:last-child)::after {
  width: 1px;
  height: 14px;
  background-color: #333333;
  position: absolute;
  top: calc(50% - 6px);
  right: 0;
}
.footer-info > li a, .footer-info > li span, .footer-info > li em {
  display: inline-block;
  position: relative;
}
.client .footer {
  background: transparent;
}

.sub {
  background-color: #E9E9DD;
}
.sub .main {
  margin-top: 100px;
  padding-bottom: 300px;
}
.sub .page {
  justify-content: space-between;
  min-height: 500px;
}

.left {
  width: 280px;
}

.right {
  width: calc(100% - 320px);
}

.left-menu, .content-inner {
  min-height: 510px;
}

.left-menu {
  position: relative;
  background-color: rgba(216, 224, 193, 0.9);
  padding: 60px 35px 40px;
  border-radius: 0 0 20px 20px;
}

.depth.first-depth {
  padding: 15px 20px 30px;
  background-color: #F3F6EC;
  border-radius: 0 15px 15px 0;
}
.depth.first-depth .depth-menu {
  position: relative;
  padding: 10px 0;
  transition: 0.2s;
}
.depth.first-depth .depth-menu .arrow.circle-arrow {
  right: 5px;
  top: 13px;
  position: absolute;
}
.depth.first-depth .depth-menu.first::after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  transition: 0.3s;
  background-color: #89C53B;
}
.depth.first-depth .depth-menu.first.current .arrow.circle-arrow, .depth.first-depth .depth-menu.first:focus .arrow.circle-arrow {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 26.5C20.9036 26.5 26.5 20.9036 26.5 14C26.5 7.09644 20.9036 1.5 14 1.5C7.09644 1.5 1.5 7.09644 1.5 14C1.5 20.9036 7.09644 26.5 14 26.5Z' fill='%23A47763' stroke='%23A47763' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.05371 12.438L14.0537 18.438L20.0537 12.438' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.depth.first-depth .depth-menu.first.current::after, .depth.first-depth .depth-menu.first:hover::after, .depth.first-depth .depth-menu.first:focus::after {
  background-color: #A47763;
}
.depth.first-depth .depth-menu:hover, .depth.first-depth .depth-menu:focus, .depth.first-depth .depth-menu.current {
  font-weight: bold;
}
.depth.first-depth .second-depth {
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: height 0.3s ease-in-out 0.5s;
  padding: 10px;
}
.depth.first-depth .second-depth > li {
  padding-left: 15px;
  position: relative;
}
.depth.first-depth .second-depth > li::before {
  width: 5px;
  height: 5px;
  background: #A47763;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 17px;
}
.depth li {
  width: 100%;
}
.depth li a, .depth li button {
  width: 100%;
  padding: 0;
  position: relative;
  text-align: left;
  outline: none;
  border: none;
  background-color: transparent;
}
.depth .depth-menu.current + .second-depth, .depth-menu:focus + .second-depth {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.depth-menu.first {
  display: flex;
  align-items: center;
}
.depth-menu.first .leaf {
  margin-left: 5px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  width: 25px;
  height: 20px;
}
.depth-menu.first .leaf::after {
  transform-origin: bottom center;
  transform: rotate(45deg) translate(0, 0);
}
.depth-menu.first.current .leaf {
  opacity: 1;
  visibility: visible;
}
.depth-menu.first.current .leaf::after {
  animation-name: leaf;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.content-inner {
  position: relative;
  padding: 60px 50px 29px;
}

.menu-navi {
  margin-bottom: 25px;
}
.menu-navi li, .menu-navi a, .menu-navi span {
  display: inline-block;
  position: relative;
}
.menu-navi > li {
  padding-right: 10px;
  margin-right: 10px;
}
.menu-navi > li:not(:last-child)::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 18L16 12L10 6' stroke='%23555555' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  width: 15px;
  height: 15px;
  background-position: center center;
  background-size: auto 100%;
  position: absolute;
  top: calc(50% - 7.5px);
  right: -7.5px;
}

@keyframes leaf {
  0% {
    transform: rotate(-10deg) translate(0, 0);
  }
  100% {
    transform: rotate(0deg);
  }
}
.img-box {
  width: 100%; /* 또는 고정 width */
  max-width: 200px;
  height: 100%;
  aspect-ratio: 1/1; /* 또는 1 / 1, 16 / 9 등 */
  overflow: hidden;
}

.img-inner {
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* contain, fill, none, scale-down 도 가능 */
  display: block;
}

.default-border {
  border: 1px solid #8B655A;
  border-radius: 5px;
}

.custom-border {
  border: 3px solid #A47763;
  border-radius: 0 20px 20px;
}

* {
  font-family: "NanumHuman", sans-serif;
  word-break: keep-all;
  font-size: 16px;
  line-height: 1.3;
  box-sizing: border-box;
}

a, span, em, i {
  display: inline-block;
  color: #333333;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.icon {
  position: relative;
}

.page {
  z-index: 99;
  width: 100%;
  position: relative;
}

.title {
  font-family: "TheJamsil", "NanumHuman", sans-serif;
  word-break: keep-all;
  font-weight: bold;
}

.arrow {
  width: 15px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='9' viewBox='0 0 15 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.05371 7.43799L7.05371 1.43799L13.0537 7.43799' stroke='%23595959' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  transition: 0.3s;
}

.arrow.circle-arrow {
  transition: 0.3s;
  width: 15px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 26.5C20.9036 26.5 26.5 20.9036 26.5 14C26.5 7.09644 20.9036 1.5 14 1.5C7.09644 1.5 1.5 7.09644 1.5 14C1.5 20.9036 7.09644 26.5 14 26.5Z' stroke='%23A47763' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.05371 16.438L14.0537 10.438L20.0537 16.438' stroke='%23A47763' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.hoverLeaf {
  display: flex;
  width: 100px;
  height: 40px;
}
.hoverLeaf::before, .hoverLeaf::after {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.hoverLeaf::before {
  background-image: url("data:image/svg+xml,%3Csvg width='212' height='174' viewBox='0 0 212 174' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_111_190)'%3E%3Cpath d='M192.71 127.56C192.71 127.56 142.846 140.722 105.699 123.216C68.552 105.71 18.4568 45.4413 18.4568 45.4413C18.4568 45.4413 91.9487 33.298 144.352 57.9939C196.756 82.6897 192.71 127.56 192.71 127.56Z' fill='%23889F69'/%3E%3Cpath d='M190.419 132.149C190.419 132.149 139.35 151.019 101.299 135.128C63.2483 119.236 11.9265 57.6018 11.9265 57.6018C11.9265 57.6018 87.1967 37.7454 140.875 60.1641C194.554 82.5828 190.419 132.149 190.419 132.149Z' fill='%23018D36'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_111_190' x='7.92676' y='42.4561' width='188.855' height='107.037' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_111_190'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_111_190' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
}
.hoverLeaf::after {
  background-image: url("data:image/svg+xml,%3Csvg width='212' height='174' viewBox='0 0 212 174' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_111_187)'%3E%3Cpath d='M18.4988 127.56C18.4988 127.56 68.3629 140.722 105.51 123.216C142.657 105.71 192.752 45.4413 192.752 45.4413C192.752 45.4413 119.26 33.298 66.8565 57.9939C14.4531 82.6897 18.4988 127.56 18.4988 127.56Z' fill='%23889F69'/%3E%3Cpath d='M20.7896 132.149C20.7896 132.149 71.859 151.019 109.91 135.128C147.961 119.236 199.282 57.6018 199.282 57.6018C199.282 57.6018 124.012 37.7454 70.3337 60.1641C16.6551 82.5828 20.7896 132.149 20.7896 132.149Z' fill='%23018D36'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_111_187' x='14.4268' y='42.4561' width='188.855' height='107.037' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_111_187'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_111_187' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
}

.leaf {
  width: 30px;
  height: 30px;
}
.leaf::after {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg width='184' height='98' viewBox='0 0 184 98' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.332264 81.9709C0.332264 81.9709 49.786 96.5993 87.4337 80.1978C125.081 63.7963 176.934 5.03257 176.934 5.03257C176.934 5.03257 103.833 -9.27538 50.7228 13.8626C-2.3869 37.0004 0.332264 81.9709 0.332264 81.9709Z' fill='%23889F69'/%3E%3Cpath d='M2.48689 86.6248C2.48689 86.6248 52.9769 106.995 91.4802 92.2336C129.984 77.4721 183.103 17.3804 183.103 17.3804C183.103 17.3804 108.452 -4.68975 54.1348 16.1343C-0.182347 36.9583 2.48689 86.6248 2.48689 86.6248Z' fill='%23018D36'/%3E%3C/svg%3E%0A");
}

.bg-frame {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 223px;
}

.title-border, .title-dotted {
  position: relative;
  font-size: 25px;
  font-family: theJamsil;
  color: #56453E;
  font-weight: bold;
}

.title-border {
  padding-bottom: 26px;
  margin-bottom: 26px;
}
.title-border::before, .title-border::after {
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
}
.title-border::before {
  background-color: #89C53B;
  bottom: 4px;
}
.title-border::after {
  background-color: #A37865;
  bottom: 0;
}

.title-dotted {
  padding-bottom: 13px;
  margin-bottom: 13px;
  border-bottom: dotted 2px #8B655A;
}

.bullet > li {
  margin-bottom: 5px;
}
.bullet > li .tit {
  min-width: 80px;
  position: relative;
  padding: 0 10px 0 10px;
}
.bullet > li .tit::before {
  position: absolute;
  top: 7px;
  left: 0;
  width: 5px;
  height: 5px;
  background-color: #89C53B;
  border-radius: 50%;
}

.bodyWrapper {
  height: 100vh;
  overflow-y: auto;
}

main {
  min-height: 100%;
  position: relative;
}

.admin.bg-frame {
  background: url(/dist/assets/images/bgFram.png) left top repeat-x;
}

/*# sourceMappingURL=App.css.map */
