.main.book .card{border:none; border-radius: 0;}
.main.book .left{display: none;}
.main.book .right{width: 100%;}


.book-list-inner{
    margin-top: 40px;
    width: 100%;
}

.book-item-list{
    /*margin-top: 6rem;*/
    margin: 0 auto;
    width:calc(100% + 1.6rem);
}

.book-item{
    /*background: #E8F1FF;*/
    /*background: #F7ECE7;*/
    border:2px solid #e1cfc7;
    border-radius: 10px;
    width:calc((100%/2) - 1.6rem);
    margin: 0 2px;
    padding: 40px 50px 30px 50px;

}
.book-item .card-header{
    margin-right:40px;
    padding: 0;
}

.book-item .card-header,.book-item.book-img{
    min-width: 200px;
    width: 200px;
}
.book-item .card{background: transparent;}
.book-item .card-body {
    width: calc(100% - 2rem);
}

.book-item .count input[name="bookCountInput"]{ max-width: 50px; text-align: center;}


/*booklist*/
.book-list .book-item .card-body {
    width: calc(100% - 22rem);
}