.main.book .card{border:none; border-radius: 0;}

.book-list{}

.book-list-inner{
    width: 100%;
}

.book-item-list{
    margin-top: 6rem;
    width:calc(100% + 1.6rem);
}

.book-item{
    background: #E8F1FF;
    width:calc((100%/2) - 1.6rem);
    margin: 0 2px;
}
.book-item .card-header,.book-item.book-img{
    min-width: 200px;
    width: 200px;
}
.book-item .card{background: transparent;}
.book-item .card-body {
    width: calc(100% - 2rem);

}

