
.mypage-dash {}
.mypage-dash .title{}
.mypage-dash .inner{overflow: hidden}
.mypage-dash .inner,.mypage-dash .box-list{width:100%;}
/*left*/
.mypage-dash .inner.left{}
.mypage-dash .inner.left .box-list{margin-bottom: 10px;}
.mypage-dash .recent-slide{ display: flex; gap:10px;height: 100%; height:250px;}
.mypage-dash .recent-slide li{flex:1;display:inline-block;height: 100%; min-width:215px; border-radius: 10px}

/*right*/
.mypage-dash .inner.right{}
.mypage-dash .inner.right .box-list{ gap: 10px /*flex 선언한 부모에서 자식의 여백 설정가능*/}
.mypage-dash .inner.right .box-list li{ flex: 1; min-width: 250px;height:80px;border-radius: 5px; padding: 20px;
display: inline-flex;align-items: center;}

.mypage-dash .count {line-height: 0;}
.mypage-dash .count em{font-size:150%}