@use "../utils/variables" as *; // 변수
@use "../utils/mixins" as *; // 함수


.default-btn{background-color: $color01;padding:10px 15px;display:inline-block;
  transition: background-color 0.3s ease, color 0.3s, font-weight 0.3s;
  &:hover,&:focus{ background-color: $color05; font-weight: bold}
}