@use "../utils/variables" as *; // 변수
@use "../utils/mixins" as *; // 함수

//img
.img-box{
  width: 100%; /* 또는 고정 width */
  max-width: 200px;
  height: 100%;
  aspect-ratio: 1 / 1; /* 또는 1 / 1, 16 / 9 등 */
  overflow: hidden;}
.img-inner{width: 100%; height: 100%;}
.img{width: 100%;
  height: 100%;
  object-fit: cover; /* contain, fill, none, scale-down 도 가능 */
  display: block;}

//common
.default-border{border:1px solid $subColor; border-radius:5px;}
.custom-border{
  border:3px solid $color00;
  border-radius: 0 20px 20px;
}

