@use "../utils/variables" as *; // 변수
@use "../utils/mixins" as *; // 함수

//img
.img-box{
  width: 100%; /* 또는 고정 width */
  height: 100%;
  aspect-ratio: 2 / 3; /* 또는 1 / 1, 16 / 9 등 */
  overflow: hidden;}
.img-inner{width: 100%; height: 100%;}
.img{width: 100%;
  height: 100%;
  object-fit: cover; /* contain, fill, none, scale-down 도 가능 */
  object-position: top center;
  display: block;}

//common
.default-border{border:1px solid $color00; border-radius:5px;}


//modal
.modal-content{
  border:none;
  .modal-header{background-color: #FFECA4;  border:none}

  .modal-title{font-size: 20px;font-weight: bold;}
  .modal-dialog{
    margin:0 auto;
    width: 100%;
  }
}
