
@use "../utils/mixins" as *; // 함수
@use "../utils/variables" as *;

[class*="form-"],[class*="-text"]{font-size: 1.5rem}
.form-group-title, .form-title{font-weight:bold; min-width: 110px; padding-right:10px; text-align: left;
  position: relative;
  &::after{@extend %pseudoEL; position: absolute; right:10px; top:0px;
    width: 1px; height: 100%; background:#89C53B;}
}

//searchBar
.search-bar{
  .form-control{margin-right: 2px;}
}

//category
.tultip{
  margin-bottom: 1rem;
  background-color: $cate00;
  font-size: 1.2rem;
  font-weight: bold;
  padding:.8rem;
  border-radius: .4rem;
  &.normal{}
  &.recom{background-color: $cate01;}
  &.popular, &.uncomplete{background-color: $cate02;} //답변대기
  &.complete{background-color:$cate03} //답변완료

}


//skipButton || info

.box-list{
  li,div{
    &.red{background-color: #FFEAEC;}
    &.yellow{background-color:#FFF8D0}
    &.green{background-color:#E5FAE1}
    &.purple{background-color:#D3D5F1;}
    &.gray{background-color:#F2F2F2;}
  }
}