
@use "../utils/mixins" as *; // 함수
@use "../utils/variables" as *;

[class*="form-"],[class*="-text"]{font-size: 1.5rem}
.form-group-title, .form-title{font-weight:bold; min-width: 110px; padding-right:10px; text-align: left;
  position: relative;
  &::after{@extend %pseudoEL; position: absolute; right:10px; top:0px;
    width: 1px; height: 100%; background:#89C53B;}
}

//searchBar
.search-bar{
  .form-control{margin-right: 2px;}
}

//category
.tultip{
  //margin-bottom: 1rem;
  margin-right: 0.5rem;
  background-color: $color08;
  font-size: 1.2rem;
  font-weight: bold;
  padding:.8rem;
  border-radius: .4rem;
  &.normal{background-color: $color10;}
  &.recom{background-color: $cate00;} // 판매중 // cncjs
  &.popular{background-color: $cate02;}//인기
  &.uncomplete{background-color: $color09;} //답변대기
  &.complete{background-color:$cate03;color:#ffffff} //답변완료 , // 단종

}


//skipButton || info

.box-list{
  li,div{
    &.red{background-color: #FFEAEC;}
    &.yellow{background-color:#FFF8D0}
    &.green{background-color:#E5FAE1}
    &.purple{background-color:#D3D5F1;}
    &.gray{background-color:#F2F2F2;}
  }
}

//list - bullet
.title-border,.title-dotted{ position: relative;
  @include sub-title(25px,theJamsil,#56453E);
  font-weight: bold;
}

.title-border{
  padding-bottom: 26px;
  margin-bottom: 60px;
  &::before,&::after{ @extend %pseudoEL;width:100%;height:1px;position:absolute;left:0}
  &::before{background-color: #89C53B; bottom:4px}
  &::after{background-color: #A37865; bottom:0}
}

.title-dotted{
  padding: 13px 0;
  margin-bottom: 20px;
  border-bottom:dotted 2px #8B655A;
}

.bullet{
  >li{
    margin-bottom: 1.5rem;
    .tit{
      min-width:80px;
      position: relative;
      padding: 0 10px 0 10px;
      font-weight: bold;
      &::before{ @extend %pseudoEL; position:absolute;
        top:7px;
        left:0;
        width: 5px;
        height: 5px; background-color:#89C53B; border-radius: 50% }
    }
  }
}
.circleBullets{}

.list{

}

.bullet-li{
  position: relative;
  &:before{ @include defualtBullet($color04,5px,5px); border-radius: 50%; margin-right:10px; }
}

//title
[class*="-tit"],[class*="-title"]{
  overflow: hidden;             /* 넘치는 부분 숨기기 */

    > span, em{
      line-height: 1.3;font-weight:bold; word-break: keep-all; word-wrap: break-word;
      display: -webkit-box;        /* flexbox처럼 동작하도록 설정 */
      -webkit-box-orient: vertical; /* 세로 방향으로 정렬 */
      -webkit-line-clamp: 2;        /* 최대 2줄까지만 표시 */
      text-overflow: ellipsis;      /* ... 표시 */
      max-height: calc(1.2em * 2);  /* 2줄 기준으로 높이 제한 */
    }

}

