
@use "../utils/mixins" as *; // 함수
@use "../utils/variables" as *;

.form-group-title, .form-title{font-weight:bold; min-width: 90px; padding-right:10px;
  position: relative;
  &::after{@extend %pseudoEL; position: absolute; right:10px; top:0px;
    width: 1px; height: 100%; background:#89C53B;}
}