.login {
  margin: 0;
  .title{font-size:3rem}
}

.login-inner{
    position: relative;
  >div{  min-height: 500px;}
}
.login-form{
  max-width: 500px;
  width: 100%;
  padding-bottom:40px;
  > .login-row{
    align-items: center;
  }
}




