@use "../utils/variables" as *; // 변수
@use "../utils/mixins" as *; // 함수

.pagination{
  .pagelist li{margin:0 2px}
  button{border-radius: 10px;
      &.active,&:hover,&:focus{
        background:$color06 !important;
        color:$color07 !important;
        border:1px solid $color06 !important;
    }
  }

}

