@use "../utils/mixins" as *; // 함수
@use "../utils/variables" as *;




.slide {
}

.slide .card {
  flex-direction: row;
  border-radius: 0px;
  border: 0;
  //border-bottom: dotted 2px #8B655A;

}

.slide .card-header {
  position: relative;
  padding: 0;
  background-color: $color06;
  width: 250px;
  height: 300px;
  margin-right:30px;
  border-radius: 15px;border: none; box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.swiper,.swiper-slide,.slide .img-box,.slide .img-inner, .slide .img-inner .img {
  width: 100%;
  height: 100%;
}
.swiper{ overflow: hidden;}
.swiper-wrapper {

}

.swiper-slide {
}

.swiper-slide.swiper-slide-active {
}

.slide .img-box {

}

.slide .img-inner {
}

.slide .img-inner .img {
}

.swiper-container {
}

.swiper-pagination,.swiper-pagination-current,.swiper-pagination-total{
  color:#fff; font-weight: bold;
}
.swiper-pagination {
  background: rgba(0,0,0,0.3); height:50px;display: block;
  justify-content: center;
  padding:5px;
  bottom:0 !important;
  color:#fff !important;

}
.swiper-pagination-current,.swiper-pagination-total{ height: auto; margin: 0 4px; line-height: 40px;}
.swiper-pagination-current {}

.swiper-pagination-total {}

[class ^="swiper-button"] {
  background-color: $color06;
  transition: background-color 0.2s ease 0.1s;
  border-radius: 50%;
  width:30px; height: 30px;
  position: absolute;
  bottom: 10px;
  z-index: 2;
  border:none;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    &:after {
      @extend %pseudoEL; width:8px; height:12px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &:hover,&:focus {
      background-color: $color01;
      border:none}

}

.custom-prev {
left: 5px;
  &:after {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.2002 11L1.2002 6L6.2002 1' stroke='%2356453E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
  &:hover:after,&:focus:after {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.2002 11L1.2002 6L6.2002 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }

}

.custom-next {
  right:5px;
  &:after {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.2002 1L6.2002 6L1.20019 11' stroke='%2356453E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

  }
  &:hover:after,&:focus:after {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.2002 1L6.2002 6L1.20019 11' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

  }
}

.custom-prev:after, .custom-next:after{

}


.swiper-button-pause {
}
