@use "../utils/mixins" as *; // 함수
@use "../utils/variables" as *;




.slide {
}

.slide .card {
  flex-direction: row;
  border-radius: 0px;
  border: 0;
  //border-bottom: dotted 2px #8B655A;

}

.slide .card-header {
  padding: 0;
  background-color: $color06;
  width: 250px;
  height: 300px;
  margin-right:30px;
  overflow: hidden;
  border-radius: 15px;border: none; box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);

}

.swiper,.swiper-slide,.slide .img-box,.slide .img-inner, .slide .img-inner .img {
  width: 100%;
  height: 100%;
}
.swiper{}
.swiper-wrapper {
}

.swiper-slide {
}

.swiper-slide.swiper-slide-active {
}

.slide .img-box {

}

.slide .img-inner {
}

.slide .img-inner .img {
}

.swiper-container {
}

.swiper-pagination {
  background: rgba(255,255,255,0.6); height:30px;display: flex;
  width: 100%; text-align: center;justify-content: center; padding:5px;
  bottom:0;
}

.swiper-pagination-current {
}

.swiper-pagination-total {
}

[class ^="swiper-button"] {
  width:20px; height: 20px;
  &:after{
    font-size: 20px; font-weight: bold;
    color: #fff;
  }
}
.swiper-button-prev {

}

.swiper-button-next {
}

.swiper-button-pause {
}
