@use '../utils/variables' as *;

table {
  display:table;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed
}
tr{display:table-row}
th, td {display:table-cell; vertical-align:middle;}

.table .img-box{
      max-width:100px;
      width:100%;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }
}



.table-custom thead th , .table-custom thead th *{
  background-color: $tableHeader;
  padding:20px 10px;
  color:#333;
}

.table-custom tbody td{padding: 1.2rem}