.admin .header-inner{max-width: 100%;}
.admin .logo-link{margin-left: 1.4rem;}
.admin .index .footer-inner{max-width:100%}

.title-text,
.card-text{
  font-size: 3.2rem;
}

.dashboard-container {
  min-height: 1200px;
  padding: 60px;
}

.dashboard-container .inner {
  width: 100%;
  max-width: 50%;
}

/* top-section */
.dashboard-container .section {
  gap: 60px;
  padding: 30px 0;
  margin-bottom: 150px;
}
/* 그래프 */
.graph-container {
}

/* 카드 */
.card-container {
  display: flex;
  flex-wrap: wrap;
  /* flex: 1; */
  gap: 20px;
}

.cardwrapper {
  width: calc(50% - 10px);
  height: 200px;
  background-color: #fff8d0;
  position: relative;
  padding: 50px 30px 30px 170px;
  font-family: 'TheJamsil';
}

.cardwrapper.qnaOne {
  background-color: #ffeaec;
}

.cardwrapper.product {
  background-color: #edddfb;
}

.cardwrapper.delivery {
  background-color: #d8f3fd;
}

.cardwrapper.qnaskip {
  background-color: #ffe377;
}

.cardwrapper .card-text{font-size: 2.5rem}
.cardwrapper .count{font-size: 3.5rem}
/* 아이콘 배경 CSS */
.icon-bg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}

.board-icon {
  position: absolute;
  font-size: 35px;
  width: 120px;
  height: 120px;
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.board-icon.qnaone {
  background-position: center top;
  height: 100px;
  background-image: url("data:image/svg+xml,%3Csvg width='150' height='105' viewBox='0 0 150 105' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M42.5127 31L42.6017 32.3038L63.0596 32.3243C64.5131 32.3269 66.1148 32.279 67.5301 32.6639C75.3223 33.4042 82.1226 42.4385 82.8183 50.4116C83.0746 53.3493 83.0478 59.5461 82.8128 62.4675L82.7333 63.5751L82.4835 63.5211C81.9245 64.0784 82.0597 65.5597 82.0591 66.2822L82.0594 69.4072C82.06 71.224 82.1795 73.1546 81.9809 74.9567C80.8089 85.5862 73.2547 91.0526 63.7681 91.093L44.002 91.1353C42.5352 91.2016 41.4741 92.7432 40.5048 93.776L35.4356 99.2743C31.9237 103.086 28.3422 106.972 22.8834 103.878C17.4621 100.805 19.2665 94.3625 15.9532 93.4003L13.1275 92.5057C11.1508 91.7797 9.27591 90.7192 7.5523 89.4727C0.621164 84.0599 -0.00751047 79.4414 6.65236e-05 70.7185L0.0190726 54.2862C0.0218447 52.9284 -0.0539883 51.4942 0.145385 50.1508C1.64819 40.0239 8.23577 33.2738 18.1626 32.3802C20.4338 32.1756 22.8366 32.3304 25.1229 32.3301L40.1149 32.3314C42.1764 32.3304 42.4758 32.9033 42.5127 31Z' fill='%23FFE377'/%3E%3Cpath d='M25.3321 61.2452C30.4727 61.0391 32.6196 67.0116 27.0613 68.6928C21.2293 69.7755 19.9351 62.3268 25.3321 61.2452Z' fill='%2300537A'/%3E%3Cpath d='M42.1149 61.2734C47.5434 60.7329 49.3902 66.9082 43.7867 68.6568C38.6702 69.8786 36.4141 62.9259 42.1149 61.2734Z' fill='%2300537A'/%3E%3Cpath d='M58.519 60.4132C63.6745 60.0487 65.2895 67.2892 59.6791 68.7739C54.0193 69.3009 52.7748 61.6543 58.519 60.4132Z' fill='%2300537A'/%3E%3Cpath d='M39.64 31.1978L39.6509 20.1717C39.6529 18.0686 39.463 15.7596 39.8551 13.6967C41.2166 6.53336 46.2523 1.49941 53.085 0.275016C54.9103 -0.0523671 56.8913 0.065642 58.7411 0.065296L127.497 0.0507637C128.673 0.0438423 129.933 -0.0717458 131.099 0.0708353C138.094 0.924938 143.663 7.08777 144.751 14.1995C145.065 16.2521 144.893 18.524 144.895 20.607L144.898 44.5063C144.897 46.9548 145.091 49.6275 144.689 52.0437C143.577 58.7243 137.98 64.4964 131.492 65.3599C129.621 65.6087 127.135 65.0259 125.833 66.7867C122.995 70.6215 126.812 78.3167 119.718 80.3028L119.531 80.3565C115.301 81.5321 112.762 78.857 110.13 75.9157L105.307 70.4263C103.979 68.8953 102.655 67.2245 101.096 65.9426C99.922 64.9781 97.4294 65.5062 96.0331 65.5062L86.3379 65.527C85.2849 65.5415 84.015 65.8014 82.9925 65.5672L83.0781 64.4106C83.3314 61.3025 83.3603 54.7099 83.0841 51.5845C82.3341 43.102 75.0044 33.4905 66.6053 32.7167C65.0798 32.2935 63.3535 32.3444 61.7868 32.3416L39.7359 32.3198L39.64 31.1978Z' fill='%23DD9CFE'/%3E%3Cpath d='M125.818 31.1023C131.227 30.6194 132.558 38.1591 127.244 39.4777C120.987 39.6293 120.575 32.3482 125.818 31.1023Z' fill='white'/%3E%3Cpath d='M112.551 38.1961C112.424 38.4475 111.853 38.759 111.61 38.8868C106.157 41.7523 102.597 33.4183 108.072 31.3245C109.277 30.8636 110.585 31.1047 111.718 31.6307C113.473 32.8836 114.573 35.8875 113.025 37.7393L112.551 38.1961Z' fill='white'/%3E%3Cpath d='M94.8547 38.1961C94.7275 38.4475 94.1567 38.759 93.9128 38.8868C88.4604 41.7523 84.9001 33.4183 90.3748 31.3245C91.5805 30.8636 92.8882 31.1047 94.0215 31.6307C95.7758 32.8836 96.8767 35.8875 95.3277 37.7393L94.8547 38.1961Z' fill='white'/%3E%3C/svg%3E%0A");
}

.board-icon.product {
  background-size: 85%;
  background-image: url("data:image/svg+xml,%3Csvg width='150' height='140' viewBox='0 0 150 140' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M111.42 64.9711L111.672 64.9633C120.89 64.6718 130.479 68.4398 137.175 74.7529C162.656 98.7737 148.071 139.262 111.89 139.983L111.785 139.965C111.292 140.043 110.664 139.968 110.157 139.954C90.8839 139.41 74.4844 123.762 73.5397 104.442C73.0559 94.5444 77.5625 84.5959 84.1559 77.4008C90.98 69.9537 101.366 65.4173 111.42 64.9711ZM116.036 85.3935C110.527 86.6454 111.338 91.2641 114.14 95.0521C114.311 95.2834 114.405 95.5752 114.649 95.7393C112.672 95.8716 110.681 95.8327 108.7 95.8382L95.4796 95.8569C94.3446 95.8595 93.1041 95.7409 92.0399 96.1812C87.6864 97.982 86.7189 103.456 90.8684 105.102L91.5581 105.316C92.442 105.567 93.34 105.527 94.2499 105.528L97.6158 105.532C99.3135 105.534 114.848 105.396 115.184 105.575C115.877 105.945 113.922 108.64 113.605 109.026C112.592 110.382 111.408 111.879 111.653 113.685C112.034 116.504 114.541 118.421 117.388 117.915C119.085 117.614 120.559 115.96 121.785 114.872L131.065 106.814C136.014 102.567 136.535 100.518 130.887 95.8025L123.131 89.0047C120.988 87.0686 119.119 85.2684 116.036 85.3935Z' fill='%2300537A'/%3E%3Cpath d='M40.2931 7.03793L46.3393 4.52075C48.5266 3.53059 50.5974 2.29214 52.8001 1.34456C59.5337 -1.55158 62.8747 0.793961 69.0084 3.09954L81.9857 7.65437L113.172 17.8069C121.083 20.4047 123.156 22.6359 123.172 31.5503L123.174 40.9364C123.154 46.4402 120.277 50.0002 115.143 51.4581C114.602 51.6117 114.702 51.7424 114.512 52.275C112.576 57.6992 110.085 57.0372 105.003 58.3087C100.077 59.5413 95.0521 61.0336 90.5383 63.3824C76.339 70.7708 66.6665 86.996 66.1532 102.788L66.0742 106.845C66.066 108.118 66.1571 109.816 65.7079 111.001C63.3611 117.197 50.0709 109.84 46.2932 108.307L21.966 98.3683C14.2468 95.1233 8.91009 94.0847 8.88541 83.7304L8.87982 54.6952C8.8739 53.6324 8.92852 52.5217 8.80545 51.4673C5.39472 49.841 3.45292 49.4729 1.37561 45.6498C-0.457002 42.2764 0.0773296 38.074 0.0707484 34.3937C0.0667338 32.1468 -0.14324 29.6719 0.179899 27.4534L0.201749 27.2926C0.952966 22.0722 5.14759 18.8678 10.0171 17.6543C10.2843 17.5878 10.6933 17.4289 10.9628 17.4558C12.1672 17.274 13.4261 16.7263 14.5756 16.3179L40.2931 7.03793Z' fill='%23DCAD89'/%3E%3Cpath d='M40.2927 7.03809L40.4313 7.14782C41.3839 7.87464 42.8887 8.3368 43.9897 8.84548L66.7049 19.0314L87.7722 27.7592C89.4422 28.3612 91.0944 29.0045 92.8621 29.2439L68.6277 40.3591C64.7095 42.1767 66.3647 41.915 62.7598 40.0234L51.5753 34.803L12.2049 17.8772C11.8153 17.7432 11.2967 17.6836 10.9624 17.4559C12.1668 17.2742 13.4258 16.7265 14.5752 16.3181L40.2927 7.03809Z' fill='%23FBF2CD'/%3E%3C/svg%3E%0A");
}

.board-icon.delivery {
  background-image: url("data:image/svg+xml,%3Csvg width='150' height='96' viewBox='0 0 150 96' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M93.3945 21.5914C96.0501 17.6435 100.748 17.3485 105.061 17.3467L110.667 17.4366C118.568 18.4316 124.059 23.177 129.247 28.6611L133.841 33.4074C137.526 37.1558 141.35 40.81 144.624 44.9305C149.506 51.0752 149.987 55.5568 149.986 62.9069C149.984 68.1189 150.473 73.0394 145.826 76.6198C143.507 78.4074 140.723 78.7159 137.884 78.6767C137.706 78.6742 137.568 78.5893 137.54 78.7709C133.824 103.394 105.02 99.9407 102.751 79.0612L81.1138 78.9423L78.2742 78.9441L77.6643 78.8008C77.8976 78.6097 78.3012 78.5297 78.5862 78.4324L80.6091 77.7372C80.7496 77.5506 81.8366 77.1955 82.1207 77.0596C88.3716 74.0709 92.5504 67.4577 93.3144 60.6929C93.5539 58.5742 93.4112 56.3206 93.4115 54.1834L93.4078 44.9067L93.3945 21.5914ZM115.658 28.5832C110.66 29.3198 111.311 33.177 111.307 36.9806C111.303 41.8992 110.95 46.2799 116.874 48.0872C118.092 48.4587 119.853 48.2552 121.139 48.2583L128.454 48.3052C130.97 48.1116 133.376 45.9293 132.645 43.2239L132.609 43.084C131.958 40.7689 126.147 35.9726 124.318 34.2088C121.787 31.7662 119.609 28.3844 115.658 28.5832Z' fill='%2300537A'/%3E%3Cpath d='M13.3585 14.7108L16.5579 14.6768C17.7107 9.97007 20.9182 5.71208 25.0712 3.19379C30.6664 -0.198523 36.8546 0.0809752 43.1527 0.0775779L68.462 0.0602829C72.0061 0.0537972 75.7757 -0.256588 79.2416 0.59674C87.6876 2.67679 93.1376 9.29772 93.1754 17.9153C93.1807 19.0806 93.0677 20.4654 93.3956 21.5915L93.4108 44.9068L93.4115 54.1835C93.4111 56.3207 93.5538 58.5743 93.3144 60.6929C92.5503 67.4578 88.3716 74.071 82.1206 77.0596C81.8365 77.1955 80.7495 77.5507 80.609 77.7372L78.5862 78.4324C78.3011 78.5297 77.8975 78.6097 77.6642 78.8009L78.2741 78.9352L66.4131 78.7231C66.4212 79.8973 66.4193 81.1487 66.1842 82.3936C63.8164 94.9261 47.5477 100.698 38.218 91.2426C35.8828 88.8759 33.2817 84.5994 33.1309 81.1274L32.9634 79.9279L32.9014 79.5418C32.7851 78.9164 31.9646 79.2345 31.4729 79.2157C28.0138 79.0816 24.2793 77.7934 21.4322 75.8935C14.5605 71.3072 13.195 63.7483 13.2018 56.0569L13.2084 45.3534C13.213 44.0791 13.1944 42.7181 13.4419 41.4663L13.6005 40.461C13.6442 40.1358 13.7171 39.9894 13.9479 39.756L14.0143 39.6911C13.2847 39.574 12.5061 39.659 11.7609 39.5765L11.6387 39.562L8.49852 39.537C7.86508 39.5305 7.15316 39.5626 6.53877 39.4122L6.41426 39.3792C2.78514 38.4428 3.26903 33.3095 7.13331 32.6866C9.16763 32.3728 11.2997 32.8225 13.2968 32.5294C13.0874 29.5654 13.7776 24.8627 14.4107 22.0393C14.7274 21.9605 14.9852 21.812 15.0054 21.4602C14.6142 21.454 14.2019 21.4688 13.8195 21.3808L13.6287 21.3336L3.94987 21.2767C3.3092 21.27 2.67328 21.2981 2.08305 21.009L1.95506 20.9447C-0.618363 19.731 -0.728113 15.6484 2.08442 14.7497L2.19739 14.7163C3.06777 14.4523 4.45618 14.6814 5.38115 14.6858L13.3585 14.7108Z' fill='%23F7E244'/%3E%3Cpath d='M13.6287 21.294L3.94987 21.2767C3.3092 21.2699 2.67328 21.298 2.08305 21.0089L1.95506 20.9447C-0.618363 19.7309 -0.728113 15.6484 2.08442 14.7496L2.19739 14.7163C3.06777 14.4522 4.45618 14.6814 5.38115 14.6857L13.3585 14.7107L24.3422 14.7286C25.0619 14.7317 25.8185 14.7151 26.5189 14.8951L26.6436 14.9254C29.3505 15.6326 28.883 20.7631 25.217 21.2128C22.5697 21.5374 16.3864 21.4435 13.6287 21.294Z' fill='%2300537A'/%3E%3Cpath d='M7.1339 32.6866L58.1176 32.5402C59.9025 32.5405 62.7043 32.0902 64.3145 33.0556L64.4495 33.1347C67.0201 34.69 66.8408 38.4847 63.8998 39.3699L63.7462 39.4181C63.0604 39.6154 62.2926 39.5521 61.5835 39.5484L48.9039 39.5292L11.6393 39.545L8.49911 39.537C7.86567 39.5305 7.15375 39.5626 6.53936 39.4122L6.41484 39.3791C2.78573 38.4427 3.26962 33.3095 7.1339 32.6866Z' fill='%2300537A'/%3E%3Cpath d='M45.5161 62.9917C55.1175 60.3861 65.3248 67.2995 66.2641 77.0273C66.3137 77.5422 66.2973 78.1367 66.4136 78.6361C66.4217 79.8971 66.4198 81.1485 66.1847 82.3935C63.8169 94.9259 47.5482 100.698 38.2185 91.2424C35.8833 88.8757 33.2822 84.5992 33.1315 81.1272L32.964 79.9277C32.9398 72.4756 38.0867 64.8819 45.5161 62.9917Z' fill='%2300537A'/%3E%3C/svg%3E%0A");
}

.board-icon.board {
  background-size: 75%;
  background-image: url("data:image/svg+xml,%3Csvg width='126' height='124' viewBox='0 0 126 124' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M105.873 100.007C108.156 99.882 109.359 101.505 110.815 102.898L114.514 106.416C115.401 107.264 116.441 108.043 117.215 108.986C119.269 111.49 116.991 115.314 113.863 115.909L113.129 115.997C111.431 116.061 110.291 115.235 109.181 114.142L104.095 109.236C103.024 108.198 101.395 107.118 101.086 105.596L101.007 105.036C100.854 102.525 103.332 100.13 105.873 100.007Z' fill='%2300537A'/%3E%3Cpath d='M47.903 0C72.8501 0.138146 94.4786 18.1427 97.3215 43.1451C98.7263 55.4983 95.6726 68.7234 87.7889 78.5208C88.7535 79.1421 89.3639 79.9652 90.1188 80.8091L97.6798 88.4106C98.716 89.4159 100.068 90.4254 100.852 91.6341L100.95 91.7914C104.282 97.0153 99.8377 103.11 92.9534 100.234C88.9516 98.5623 86.1128 94.8536 83.0952 91.8783C81.6282 90.4318 79.9871 89.1188 78.6243 87.5783L71.741 91.9402C67.2457 94.2076 62.522 96.0104 57.5308 96.8324C30.3069 101.315 4.88907 83.4007 0.529934 55.8959L0.196362 53.3597C-0.0732466 51.8046 0.012726 50.1509 0.0141015 48.5759C0.0402371 22.2402 21.4363 0.272873 47.903 0Z' fill='%2300537A'/%3E%3Cpath d='M47.5818 14.2256C49.2342 14.1449 51.0011 14.136 52.6418 14.3241C68.5807 16.1518 82.4793 30.3699 83.4769 46.413C84.7177 66.3704 70.7138 82.9859 50.4279 83.9225L48.6207 83.9201C39.4967 83.7983 29.8437 79.1992 23.5079 72.7254C6.74954 55.6035 13.758 25.1114 35.8962 16.4554C39.3698 15.0972 43.8379 14.1514 47.5818 14.2256Z' fill='%23A8E8F9'/%3E%3C/svg%3E%0A");
}

.iconContain {
}

.card-text {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

/* bottom-section */
.table-container {
  width: 40%;
}

.bottom-section {
  gap: 20px;
}

.table-container {
  width: 100%;
  border: none;
  border-radius: 6px;
  /* padding: 30px 0; */
  background-color: #fff;
}

.table-container.newbook {
  position: relative;
}

.table-container.bookstock {
  position: relative;
}

/* 제목 */
.table-container .title {
  font-size: 3.5rem;
  margin-bottom: 3rem;
}

/* 탭 버튼 영역 */
.tab-buttons {
}

/* 탭 버튼 스타일 */
.tab-button {
  padding: 20px;
  border: none;
  background-color: #e0d3ca;
  font-size: 2rem;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

/* 선택된 탭 */
.tab-button.active,
.tab-button:hover,
.tab-button:focus {
  background-color: #bed297;
  font-weight: bold;
}

/* gobooklist */
.gobooklist {
  font-size: 32px;
  top: 12%;
  right: 0px;
  position: absolute;
}

/* 테이블 */
.tab-content {
  display: block;
  min-height: 342px;
  padding: 0;
  margin-top: 0;
  background-color: #fff;
}
.tab-content table {
  width: 100%;
  border-collapse: collapse;
}

.tab-content span {
  cursor: pointer;
}

.table-container th,
.table-container td {
  border-bottom: 1px solid #ddd;
  padding: 20px 10px;
  text-align: center;
}

.table-container thead {
  background-color: #bed297;
}

main:after{
  content: "";
  display: block;

  position: absolute;
  bottom: 205px;
  left:0;
  width:100%;
  height:200px;
  background-image: url("/assets/images/common/bgFram.png");
  background-size:contain;
  background-repeat: repeat-x;
  background-position: left bottom;
}


/* 애니메이션 효과 */

/* 깜빡임 애니메이션 정의 */
@keyframes blink {
  0%,
  100% {
    opacity: 1; /* 완전히 보임 */
  }
  50% {
    opacity: 0; /* 사라짐 */
  }
}
