.dashboard-container {
  min-height: 1200px;
  padding: 60px;
}

.dashboard-container .inner {
  width: 100%;
  max-width: 50%;
}

/* top-section */
.dashboard-container .section {
  gap: 60px;
  padding: 30px 0;
  margin-bottom: 150px;
}
/* 그래프 */
.graph-container {
}

/* 카드 */
.card-container {
  gap: 20px;
}

/* 아이콘 배경 CSS */
.icon-bg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}

.board-icon.qnaone {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_114_23)'%3E%3Cpath d='M21.7223 24.5556C21.7223 24.806 21.6227 25.0463 21.4456 25.2234C21.2685 25.4005 21.0283 25.5 20.7778 25.5H7.55558C7.34781 25.5 7.14947 25.6889 6.97947 25.8117L3.7778 28.3333V13.2222C3.7778 12.9717 3.87731 12.7315 4.05443 12.5544C4.23154 12.3773 4.47177 12.2778 4.72225 12.2778H8.3678V10.3889H4.72225C3.9708 10.3889 3.25013 10.6874 2.71878 11.2187C2.18743 11.7501 1.88892 12.4708 1.88892 13.2222V30.2222C1.89032 30.3976 1.94055 30.5692 2.03396 30.7176C2.12737 30.8661 2.26029 30.9856 2.4178 31.0628C2.56956 31.1318 2.73687 31.1594 2.90275 31.1428C3.06863 31.1262 3.22717 31.066 3.36225 30.9683L8.22614 27.3889H20.9195C21.2774 27.3995 21.6337 27.3364 21.9663 27.2037C22.299 27.071 22.6008 26.8714 22.8531 26.6173C23.1054 26.3632 23.3029 26.06 23.4333 25.7265C23.5637 25.3929 23.6242 25.0362 23.6111 24.6783V23.6111H21.7223V24.5556Z' fill='%23C49953'/%3E%3Cpath d='M30.2222 12.4855V21.6655L26.9167 19.0872C26.7518 18.9593 26.5493 18.8895 26.3406 18.8889H13.2222C12.9718 18.8889 12.7315 18.7894 12.5544 18.6123C12.3773 18.4351 12.2778 18.1949 12.2778 17.9444V6.6111C12.2778 6.36062 12.3773 6.1204 12.5544 5.94328C12.7315 5.76616 12.9718 5.66666 13.2222 5.66666H21.25C21.2526 5.02799 21.3416 4.3926 21.5145 3.77777H13.2222C12.4708 3.77777 11.7501 4.07628 11.2188 4.60764C10.6874 5.13899 10.3889 5.85966 10.3889 6.6111V17.9444C10.3889 18.6959 10.6874 19.4166 11.2188 19.9479C11.7501 20.4793 12.4708 20.7778 13.2222 20.7778H26.0195L30.5339 24.2817C30.6681 24.3809 30.8262 24.4428 30.9921 24.461C31.158 24.4793 31.3258 24.4532 31.4784 24.3855C31.6391 24.309 31.7749 24.1886 31.8701 24.0382C31.9654 23.8878 32.0162 23.7136 32.0167 23.5355V11.6828C31.4588 12.0325 30.8548 12.3027 30.2222 12.4855Z' fill='%2371AE4A'/%3E%3Cpath d='M28.3333 10.3889C30.9413 10.3889 33.0555 8.27469 33.0555 5.66668C33.0555 3.05867 30.9413 0.944458 28.3333 0.944458C25.7253 0.944458 23.6111 3.05867 23.6111 5.66668C23.6111 8.27469 25.7253 10.3889 28.3333 10.3889Z' fill='%23F44F4F' fill-opacity='0.76'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_114_23'%3E%3Crect width='34' height='34' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.board-icon.product {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='37' height='37' viewBox='0 0 37 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.2812 0L37 6.4126V20.7134L34.6875 19.5475V9.01773L25.4375 13.6814V18.3816L23.125 19.5475V13.6814L13.875 9.01773V13.1531L11.5625 11.9872V6.4126L24.2812 0ZM24.2812 11.6593L27.479 10.0379L19.1143 5.21024L15.3022 7.14131L24.2812 11.6593ZM29.9722 8.79911L33.2603 7.14131L24.2812 2.60512L21.5894 3.97144L29.9722 8.79911ZM20.8125 20.7134L18.5 21.8794V21.8612L11.5625 25.3589V33.648L18.5 30.132V32.7553L10.4062 36.836L0 31.5711V19.256L10.4062 14.0094L20.8125 19.256V20.7134ZM9.25 33.648V25.3589L2.3125 21.8612V30.132L9.25 33.648ZM10.4062 23.3368L17.0728 19.9847L10.4062 16.6145L3.73975 19.9847L10.4062 23.3368ZM20.8125 23.3186L28.9062 19.2378L37 23.3186V32.9193L28.9062 37L20.8125 32.9193V23.3186ZM27.75 33.8119V28.2555L23.125 25.9237V31.4801L27.75 33.8119ZM34.6875 31.4801V25.9237L30.0625 28.2555V33.8119L34.6875 31.4801ZM28.9062 26.2334L33.2603 24.029L28.9062 21.8429L24.5522 24.029L28.9062 26.2334Z' fill='%23B57044' fill-opacity='0.72'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.board-icon.delivery {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.50378 19.6385C8.54619 19.7848 8.61838 19.9216 8.71624 20.0412C8.81409 20.1608 8.93569 20.2609 9.07409 20.3357C9.21248 20.4104 9.36497 20.4585 9.52285 20.4771C9.68072 20.4957 9.84089 20.4844 9.9942 20.444C10.1475 20.4035 10.291 20.3347 10.4164 20.2414C10.5418 20.148 10.6467 20.0321 10.7251 19.9001C10.8036 19.7681 10.854 19.6226 10.8734 19.4721C10.8929 19.3215 10.8811 19.1687 10.8387 19.0225L8.50378 19.6385ZM1.55062 3.40625C1.3967 3.36337 1.23539 3.35007 1.07604 3.36713C0.916692 3.38418 0.762479 3.43124 0.622351 3.50558C0.482224 3.57992 0.35897 3.68007 0.259742 3.8002C0.160514 3.92033 0.0872868 4.05806 0.0443098 4.20539C0.00133283 4.35273 -0.0105386 4.50674 0.0093844 4.65849C0.0293074 4.81023 0.0806282 4.95669 0.160369 5.08937C0.24011 5.22205 0.346683 5.33831 0.473905 5.4314C0.601127 5.52449 0.746465 5.59255 0.901486 5.63164L1.55062 3.40625ZM28.9822 20.347C29.1399 20.3122 29.2887 20.2476 29.4197 20.1571C29.5508 20.0665 29.6615 19.9518 29.7454 19.8198C29.8292 19.6877 29.8844 19.541 29.9077 19.3882C29.9311 19.2355 29.9221 19.0798 29.8813 18.9304C29.8405 18.781 29.7687 18.641 29.6702 18.5185C29.5717 18.396 29.4484 18.2936 29.3077 18.2174C29.167 18.1411 29.0116 18.0925 28.8509 18.0745C28.6901 18.0564 28.5272 18.0693 28.3718 18.1123L28.9822 20.347ZM12.8491 23.1714C13.3497 24.8963 12.2516 26.7182 10.3075 27.2002L10.9162 29.4349C14.1086 28.6448 16.0592 25.5816 15.184 22.5554L12.8491 23.1714ZM10.3075 27.2002C8.35038 27.6854 6.38683 26.6012 5.88302 24.8609L3.54808 25.4769C4.42005 28.4877 7.73677 30.2234 10.9162 29.4349L10.3075 27.2002ZM5.88302 24.8609C5.38245 23.136 6.48048 21.3141 8.42466 20.8321L7.81589 18.599C4.62351 19.389 2.67126 22.4507 3.54808 25.4769L5.88302 24.8609ZM8.42466 20.8321C10.3817 20.347 12.3453 21.4312 12.8491 23.1714L15.184 22.5554C14.3121 19.5446 10.9954 17.8089 7.81589 18.5974L8.42466 20.8321ZM10.8387 19.0225L7.36376 7.0254L5.02881 7.64143L8.50378 19.6385L10.8387 19.0225ZM4.30217 4.13316L1.55062 3.40625L0.901486 5.63164L3.65465 6.3601L4.30217 4.13316ZM7.36376 7.0254C7.15845 6.33235 6.7686 5.70176 6.23211 5.19495C5.69563 4.68814 5.03076 4.32235 4.30217 4.13316L3.65788 6.3601C4.34416 6.54182 4.85442 7.03926 5.02881 7.64143L7.36376 7.0254ZM14.3234 23.9815L28.9822 20.347L28.3734 18.1123L13.713 21.7469L14.3234 23.9815Z' fill='%23675F23' fill-opacity='0.74'/%3E%3Cpath d='M11.8286 9.57423C11.0455 6.87142 10.6547 5.51924 11.32 4.45506C11.9836 3.38933 13.445 3.02742 16.3677 2.30205L19.468 1.53509C22.3908 0.811264 23.8521 0.447809 25.0035 1.06229C26.1548 1.67832 26.5472 3.02896 27.3287 5.73331L28.1603 8.60091C28.9435 11.3037 29.3359 12.6559 28.6706 13.7216C28.0053 14.7858 26.5439 15.1493 23.6212 15.8731L20.5209 16.6416C17.5982 17.3654 16.1368 17.7273 14.9855 17.1128C13.8342 16.4968 13.4434 15.1462 12.6602 12.4434L11.8286 9.57423Z' stroke='%234384D8' stroke-opacity='0.74' stroke-width='1.5'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.board-icon.board {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.25 29.8875L14.875 23.5125L16.975 21.4125L21.25 25.6875L29.725 17.2125L31.825 19.3125L21.25 29.8875ZM29.5 15H26.5V7.5H23.5V12H8.5V7.5H5.5V28.5H14.5V31.5H5.5C4.675 31.5 3.969 31.2065 3.382 30.6195C2.795 30.0325 2.501 29.326 2.5 28.5V7.5C2.5 6.675 2.794 5.969 3.382 5.382C3.97 4.795 4.676 4.501 5.5 4.5H11.7625C12.0375 3.625 12.575 2.9065 13.375 2.3445C14.175 1.7825 15.05 1.501 16 1.5C17 1.5 17.894 1.7815 18.682 2.3445C19.47 2.9075 20.001 3.626 20.275 4.5H26.5C27.325 4.5 28.0315 4.794 28.6195 5.382C29.2075 5.97 29.501 6.676 29.5 7.5V15ZM16 7.5C16.425 7.5 16.7815 7.356 17.0695 7.068C17.3575 6.78 17.501 6.424 17.5 6C17.499 5.576 17.355 5.22 17.068 4.932C16.781 4.644 16.425 4.5 16 4.5C15.575 4.5 15.219 4.644 14.932 4.932C14.645 5.22 14.501 5.576 14.5 6C14.499 6.424 14.643 6.7805 14.932 7.0695C15.221 7.3585 15.577 7.502 16 7.5Z' fill='%23332D2D'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.board-icon.goboard {
  width: 40px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='39' height='21' viewBox='0 0 39 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0644 3.93948C8.90246 3.94049 7.76346 4.27736 6.77384 4.9127C5.78422 5.54803 4.98267 6.457 4.45814 7.53874C3.9336 8.62047 3.70659 9.83268 3.8023 11.0408C3.89801 12.249 4.31269 13.4059 5.00033 14.3831C5.68796 15.3603 6.62167 16.1197 7.69784 16.5769C8.77401 17.0341 9.95056 17.1713 11.0969 16.9733C12.2433 16.7753 13.3147 16.2497 14.1922 15.4551C15.0697 14.6604 15.719 13.6276 16.068 12.4713H11.3222C10.8218 12.4713 10.342 12.2639 9.98814 11.8948C9.63433 11.5257 9.43556 11.025 9.43556 10.503C9.43556 9.98097 9.63433 9.48032 9.98814 9.1112C10.342 8.74207 10.8218 8.5347 11.3222 8.5347H19.0491C19.5237 5.97194 20.8959 3.68537 22.8984 2.12068C24.9009 0.555987 27.3901 -0.174704 29.8809 0.0710248C32.3716 0.316753 34.6854 1.52129 36.3713 3.44987C38.0572 5.37844 38.9943 7.89284 39 10.503C38.9987 12.9648 38.1686 15.3479 36.6546 17.2361C35.1405 19.1244 33.0388 20.3977 30.7165 20.8339C28.3942 21.27 25.9988 20.8411 23.9487 19.6222C21.8986 18.4033 20.324 16.4717 19.5 14.1649C18.676 16.4717 17.1014 18.4033 15.0513 19.6222C13.0012 20.8411 10.6058 21.27 8.2835 20.8339C5.96116 20.3977 3.85946 19.1244 2.34543 17.2361C0.831402 15.3479 0.00126815 12.9648 3.83973e-07 10.503C-0.000498272 8.61933 0.484704 6.77022 1.40475 5.14947C2.32479 3.52873 3.6458 2.19604 5.2293 1.2911C6.8128 0.386154 8.60047 -0.0577163 10.4049 0.00601237C12.2094 0.069741 13.9642 0.638722 15.4854 1.65331C15.6943 1.79274 15.8748 1.97372 16.0166 2.18592C16.1584 2.39812 16.2588 2.63739 16.312 2.89006C16.3652 3.14273 16.3702 3.40385 16.3266 3.65853C16.2831 3.9132 16.1919 4.15643 16.0582 4.37434C15.9246 4.59224 15.7511 4.78055 15.5477 4.92851C15.3443 5.07647 15.115 5.18119 14.8728 5.23668C14.6306 5.29217 14.3803 5.29736 14.1362 5.25193C13.8921 5.20651 13.659 5.11137 13.4501 4.97194C12.4397 4.29656 11.2645 3.9382 10.0644 3.93948ZM28.9356 3.93948C27.267 3.93948 25.6668 4.63099 24.487 5.86189C23.3072 7.09278 22.6444 8.76224 22.6444 10.503C22.6444 12.2437 23.3072 13.9132 24.487 15.1441C25.6668 16.375 27.267 17.0665 28.9356 17.0665C30.6041 17.0665 32.2043 16.375 33.3841 15.1441C34.5639 13.9132 35.2267 12.2437 35.2267 10.503C35.2267 8.76224 34.5639 7.09278 33.3841 5.86189C32.2043 4.63099 30.6041 3.93948 28.9356 3.93948Z' fill='black'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.iconContain {
}

.cardwrapper {
  width: calc(50% - 10px);
  height: 120px;
  background-color: #fff8d0;
}

.cardwrapper.qnaOne {
}

.cardwrapper.product {
  background-color: #ffeaec;
}

.cardwrapper.delivery {
  background-color: #e8f1ff;
}

.cardwrapper.qnaskip {
  background-color: #bed297;
}

.cardwrapper .count {
  font-size: 24px;
}
.title-text {
  font-size: 24px;
}

/* bottom-section */
.table-container {
  width: 40%;
}

.bottom-section {
  gap: 20px;
}

.table-container {
  width: 100%;
  border: none;
  border-radius: 6px;
  /* padding: 30px 0; */
  background-color: #fff;
}

.table-container.newbook {
}

.table-container.bookstock {
}

/* 제목 */
.table-container .title {
  font-size: 24px;
  margin-bottom: 30px;
}

/* 탭 버튼 영역 */
.tab-buttons {
}

/* 탭 버튼 스타일 */
.tab-button {
  padding: 20px;
  border: none;
  background-color: #e0d3ca;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

/* 선택된 탭 */
.tab-button.active,
.tab-button:hover,
.tab-button:focus {
  background-color: #bed297;
  font-weight: bold;
}

/* 테이블 */
.tab-content {
  padding: 0;
  margin-top: 0;
  background-color: #fff;
}
.tab-content table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  border-bottom: 1px solid #ddd;
  padding: 20px 10px;
  text-align: center;
}

.table-container thead {
  background-color: #bed297;
}

/* 애니메이션 효과 */

/* 깜빡임 애니메이션 정의 */
@keyframes blink {
  0%,
  100% {
    opacity: 1; /* 완전히 보임 */
  }
  50% {
    opacity: 0; /* 사라짐 */
  }
}
