.dashboard-container {
  min-height: 1200px;
  padding: 60px;
}

.dashboard-container .inner {
  width: 100%;
  max-width: 50%;
}

/* top-section */
.dashboard-container .section {
  gap: 60px;
  padding: 30px 0;
  margin-bottom: 150px;
}
/* 그래프 */
.graph-container {
}

/* 카드 */
.card-container {
  gap: 20px;
}

/* 아이콘 배경 CSS */
.icon-bg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}

.icon-bg > .delivery {
  width: 50px;
  height: 50px;
}

.iconContain {
}

.cardwrapper {
  width: calc(50% - 10px);
  height: 120px;
  background-color: #fff8d0;
}

.cardwrapper.qnaOne {
}

.cardwrapper.product {
  background-color: #ffeaec;
}

.cardwrapper.delivery {
  background-color: #e8f1ff;
}

.cardwrapper.qnaskip {
  background-color: #bed297;
}

.cardwrapper .count {
  font-size: 24px;
}
.card-title {
  font-size: 24px;
}

.card-title span {
  padding-top: 5px;
  line-height: 0;
}

/* bottom-section */
.table-container {
  width: 40%;
}

.bottom-section {
  gap: 20px;
}

.table-container {
  width: 100%;
  border: none;
  border-radius: 6px;
  /* padding: 30px 0; */
  background-color: #fff;
}

.table-container.newbook {
}

.table-container.bookstock {
}

/* 제목 */
.table-container .title {
  font-size: 24px;
  margin-bottom: 30px;
}

/* 탭 버튼 영역 */
.tab-buttons {
}

/* 탭 버튼 스타일 */
.tab-button {
  padding: 20px;
  border: none;
  background-color: #e0d3ca;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

/* 선택된 탭 */
.tab-button.active,
.tab-button:hover,
.tab-button:focus {
  background-color: #bed297;
  font-weight: bold;
}

/* 테이블 */
.tab-content {
  padding: 0;
  margin-top: 0;
  background-color: #fff;
}
.tab-content table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  border-bottom: 1px solid #ddd;
  padding: 20px 10px;
  text-align: center;
}

.table-container thead {
  background-color: #bed297;
}

.board-icon.qnaone {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; /* 아이콘 크기에 맞게 조정 */
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='64px' height='64px' viewBox='0 0 64 64' enable-background='new 0 0 64 64' xml:space='preserve'%3E%3Cimage id='image0' width='64' height='64' x='0' y='0' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAIGNIUk0AAHomAACAhAAA+gAAAIDo%0AAAB1MAAA6mAAADqYAAAXcJy6UTwAAAAGYktHRAD/AP8A/6C9p5MAAAAJcEhZcwAACxMAAAsTAQCa%0AnBgAAAtmSURBVHja5Zt7VNVVFsc/+3evCPjKdwIiWBijVr5qbPLFIym0aERGR22ylTWrN02zes4s%0A1zRls5rej9X0GGvMJ0i+nwhqZDnluyTR1HRABNEJDQHh3j1//Pj9uCgKXO4F15rvWizOOb/zO/vs%0A7++cffbZ51zBB7h/mwYHlxEtQj+F7iIEqxuXCCdVKHG7OF7Rnl0fDJMqX8jzJcTbF1NztC9upgok%0AADcitLlUfYUyUb4CNhsw79XRcri1lfeKgNQcjRflGZQYxDsCVXEDq0V49/WRrENEL3sCnvhc+7uV%0AdxHG1NdI9yDoGQyd2kKAAQqUVZl/ReVQUn7RprMFHnhtlOy/PAlQlce/4Enc/NVzmDsEorvA0O4Q%0AdQW0a3PpZk6fg4OlsL0Yvj9lEuSBSmBWx5G88BcR92VDwIMbtX2AwQIRxnsqflMviAmDzm29E3qy%0AAnKOwZZj4KrLxDKjnKmvJkhZqxPwUKZ2bdOW1QI3WmWRHeE3UeZQ9wWOlcHiH+DH0x6FyjZXFePf%0AipeiViPgwY3avq3BBoRfWpVie8NtfcDwet2oHwqsPAwb8+uSUNaO0R8Mk7P+JsC4sEcqAQYLLOUN%0AgZQoGBfhe+XBJPf2SJh4tUf7wrDgs8yZqWo0p22vCHj8C5605rxgdmz4lf7uBvyqF0y4qg4xyaU5%0APO1vuXW+ac1St8uy9nG9zS/fklhy0DSQAAoVCAPeGCmH/CWvzgioWefbgGnwbuvTssoDJPWFsPZm%0AWiAQN2/6U55NQGqOxltOjkNMa++POd9ghwSSr64dmiKMT92ssX4nQJRnrPRNvXy31HmDPh1gWE+P%0AAuFBvxKQmqN9UWLA/PoxYa2nvIXRoR76K3f8caP6xRSbI8DNVGtjE93Few/PlwhpZ44EkwHauB1M%0A8RsBNVtawPTtLxeMCKlNq3LOHzKc92/TYMpMd1cwNzaXC4b0MP8fOU3Gwp285xcCgsuItpa+7sEN%0A7+paEgIM7QFDe6DJUeLyhwxDhH5WpmdQa6t8UUT7q2GnQndrze10GRg/gMrKSo7mF5BfUEhp6WnK%0Aysoi48clP6UqZ1U4IS7NK+tg7Nuanl7eXFlOwLK1BDpaT+nC40Vkbcph247d5O0/QHV1nRHfDuRv%0AIjUOkkNof9ZdFZ+Y/G9F1hkOmZe5It2rGKPTgNYLyAE7du1hQfoSdu/Zi2pTeiJtEEYIjFC3Ph+X%0AODFbDH1pw8qMrCYR4Hbzs9T4g5V+MTP148jRfN5+7yN2f7v3QtVECAvtRXjvMLp17UJgYCAAFRUV%0AlJSc4mh+PvkFhZ6EiQhxqMTFjUvOFnU+vGH1ou8bRYAY2JGXnyr9r7iqkpaxjE/mLqwzzJ1OBzcM%0AHUzsmJEMvv5aOnXscMl2SktPs2P3t2RvyuGb7btwucy2BIlVqnfFJab8KWt1+itcEH48j+xHN+kN%0ADoOvwfT/nxrqP+XLKyqY9fIbbP16ex3FE2+9hUnJSfTo3s2rdouKT7Bo8VLWrM+qQ6qqLjeqgqZk%0AZs69aIxRHv9Sg7SKn0QIEOD54f7xBU6fOcNzM2exb/8PdtmA/tE8/vDv6RPum83Hj0eO8vrb75O7%0ArzbCrrDVUSXj1q9PP1UvAQCpm/UrEYYD/C4aBvnYHS6vqODJ555nX94BU6gIkyYmMX3aZBwO3y49%0ALpeL2XPmk5axvA4JxrnA+PpGggFgCCutgp0nfKu8qjLr5Tds5Q3DIPXh+7n37qk+Vx7A4XBw3z13%0A8dhD92EYpnUXGK4BFfOoJwhsxQPSUdNY5J7yrTFMy1hmz3kR4bGH7iMxId7nip+P8beN5ZEHZngW%0AJcUnJj9RLwGvjZL9CtlgHlRsKvBNJ44czeeTuQvt/KSJSS2ifC0JtzDxTvtMB4UXx46fUMetro0I%0ACa9Y6S3HoLjZTia8/d5HtlUe0D+a6dMmt5jyFu6dPo3oflfX6CgBLrfxTr0EvD5K1gKfgzkK0g+A%0Auxku4vade2wnx+Fw8OiDM/wy5xuC0+ngD48+YMsWIS42cULMBQQAuOARlCowDzLXH/Ve8MLFS+z0%0AuNtuoW9EK4SYaxAZEc7Y+DF23hCx4591CHhrlOxR4UUrn3kUthU3XWDh8SJ27zG/vtPpYFJyUqsp%0Ab2HyxF/bqwJIfELCpIgLCAAoOM4LCplg+pBpB+BME4NRWZtybD/9hqGDvfbwfImQXj0ZfP21VlZc%0Azuop9RIQEUIwWrtFditUN9EWbNux207HjhnZ2rrbiBl9s51WJAHMeICN+7dpcFUZKyyvEODOvk2L%0AEldWVpK3v9bj82D9ovjw40/5bNmq82MAjYbT6SA5aTwz7pl2yXpDBl1Xm1EdPjwlJcgeATO/04Dg%0As6SLMNoqGxdRNzLbGBzNL7AVCQsNaXBXB7Bi1XqvlQeornaxfNW6But179bVno4iEtChjGsMgJQ0%0AdZSeZK5AolV5bLh5ONpU5BcU2unwsNBGvXPH+FtxOp2NqlsfnE4nSbff2qi6YaG1X1Rx93OmpKkj%0A9ErmCaRYDzq3hQAHZOc33GDHADNyaznZpaW11z26devSqE7NmD6VGdOnek1AU9Ctq0efxOjhDO3J%0AZIFJnpX+W2ne2mgKhtXE8MvLa13I4OBWPGC8CIKCAu20oh0MFZp9K2t+HndJDWbPmf9cayvZWAgq%0AzjdHyYLUTepCGOJVI8J3HUcy38qryhmpmQ9nz/r9ik+TUV5eYadV+dkJ8MYYSQPSfCFAhROWPThR%0AcrJR7+QXFPLl1m9Qvfhg7NqlC3ExIxGpu6U/XlTM5i++4sahg4mMCG9QVnFJiZ02RAq9N70Xgbg0%0AD4fZyf/kN25f/ezMFyk83rhbcfGxo+rkn/7zCxQcKyRjyQrmf/KPBleTAo9VSpBDPr+FFeSszFPV%0Ac4B9suMrSD03ViyXu/LcOdwNbF+LT5TYo1KhsvLn4L1+uQQTn5icg8gIgGefTCVm1M2XrF9wrJCN%0An2+houLioajIPr2JHXPhFDhWWET25hwGXTeQgf0vfYS4Zn02r731nkXAlqxVi0f4fAqYjcs6gREA%0A2ZtyGiQgNKQX0yZP9EpWSK+ejX53c84WOy0qK6G+i5I+gOGQedQcSHyzfRdFxT6OtHqBgmOF7Nz9%0AnZVVl9tI9xsBmSvSD6vWxBhdLhYtXtra+pOWsRy321pldN3GtYsO+o0AADH0JSu9Zn0WPx5pRnip%0AmTh0+EfWZmbX9s1t/N1K+42ADSszshTNBnO39vrb79vndy0JS7bH18/MXJNus+HXy8iizoetJTF3%0A335mz5nf3CabjH/+a57HcZxWGKKPej73a5j20IG9JX2jBlaKcAvA3u/z6NK5M/2irmpu043CyjXr%0A+XjOgtoC5ZnMVZ8t96zj9zj14QO5X0VG9R8iwjUA32zfSecrOvmdhKKiEzw7c1btHQJl6YbVGann%0A1/P7fXxAjarA3ypsBXC73bz57od8MPtTv9qEc1VVHvMeEDoNT0kJPL9ei5xUHDq0pyoqcsASt4PR%0AAmEAud/nsX3XHqL7RdH5ik4+l9mpYwcC2gawY9ceqygyoIohQwcNSM/NzbWZb7GjmoMHc8uvjhiy%0AEEf1AGquvZWUnGT1uixOnjpFZJ9w2rdv51OZA/tHY4jheQ0nqvycDgwP6ZFx5MgRd4sSAOZIOHQg%0Ad1Hffv3PqOoYEXGoKvt/OMSyVWvZt/8AIHS+opN9L6i5uO7a/lRXu/hur3llSER+YQS0ixo2aMDS%0A3NxcbYVfBJgYO35CtMttvCNC3PnPRISQXlcS3juU7t26EhQURIdmjo7lq9ZRfKI2FoAye8PqxTNa%0AjQALsYkTYgwxngXiaMZvmb2DJLU6ARYSEiZFuJzVUxRJQHW4iAT8XxHgidGj7w4MaHc22m1wjeFy%0Ad1OD9op09qUMA7Znrlqc/j8wLBCpinEntAAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyNS0xMC0yMVQw%0ANDo1NzowNSswMDowMFksWSgAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjUtMTAtMjFUMDQ6NTc6MDUr%0AMDA6MDAoceGUAAAAKHRFWHRkYXRlOnRpbWVzdGFtcAAyMDI1LTEwLTIxVDA0OjU3OjA1KzAwOjAw%0Af2TASwAAAABJRU5ErkJggg==' /%3E%3C/svg%3E%0A");
}

.board-icon.product {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; /* 아이콘 크기에 맞게 조정 */
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='64px' height='64px' viewBox='0 0 64 64' enable-background='new 0 0 64 64' xml:space='preserve'%3E%3Cimage id='image0' width='64' height='64' x='0' y='0' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAQAAAAAYLlVAAAAIGNIUk0AAHomAACAhAAA+gAAAIDo%0AAAB1MAAA6mAAADqYAAAXcJy6UTwAAAACYktHRAD/h4/MvwAAAAlwSFlzAAALEwAACxMBAJqcGAAA%0AAAd0SU1FB+kKFQQ0MT0VBPcAAADeSURBVGje7ZjdDsIwCIVp4/u/VPW52IUxsQLrgNr5c85uFiLs%0Aa0ugSARBX6YbceJpMmBxAnByAeJ7l3QQVsJqNgO+JleUFgAAAAAAvAKMav10aUXU5+MrxYd6QRE/%0A585Kauig8jlwVa3NGeVpLSzeLGs89tQdSGr/PvCGrD++A/3Zhs/Uq9EZ/14OAAAAlfoOSETDbhid%0Ai6Rvu7eYBeXGVHlUwnkt1jkpfUQOAAAAAADAfwPYt+JMi3L46juQmXYCvtNvuh7f03MAAAAAAABO%0AH0wqWdV7hZb97wJBO9oAJk6bZnjSQ1kAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjUtMTAtMjFUMDQ6%0ANTI6NDkrMDA6MDD87/biAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDI1LTEwLTIxVDA0OjUyOjQ5KzAw%0AOjAwjbJOXgAAACh0RVh0ZGF0ZTp0aW1lc3RhbXAAMjAyNS0xMC0yMVQwNDo1Mjo0OSswMDowMNqn%0Ab4EAAAAASUVORK5CYII=' /%3E%3C/svg%3E%0A");
}

.board-icon.delivery {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; /* 아이콘 크기에 맞게 조정 */
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='50px' height='50px' viewBox='0 0 50 50' enable-background='new 0 0 50 50' xml:space='preserve'%3E%3Cimage id='image0' width='50' height='50' x='0' y='0' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAQAAAC0NkA6AAAAIGNIUk0AAHomAACAhAAA+gAAAIDo%0AAAB1MAAA6mAAADqYAAAXcJy6UTwAAAACYktHRAD/h4/MvwAAAAlwSFlzAAALEwAACxMBAJqcGAAA%0AAAd0SU1FB+kKFQQjK8X0eRsAAAQeSURBVFjD7dhZbJRVGMbxXxeqRdlJAaWYAGFxibIkYIFkWCRo%0AWQyKIBdKAI1FFkFKSIQEBEGgQAckTWNERRAjwQs1CpGIS8QQjEpREFRSLlCxQAhQkKXUiw6Tmeks%0ADIvxgufq5F3O/7zn/ebM+T5u6v+mjGvIzVWMZc7euMWNdshhhx0y+pqWmlDdfOmcoMYamuesnXpf%0AX0ALQRd9pH3Ykm+dGuu0uj6ABqY5YZ8h9TwBPzptnluuFTHIz46ZJjuuN9NTjjhg1NUDOvnYBeVa%0AJo1q6lXnbHNv+oD0Uq9sOVHK8pwqBwxNa1nDVKq60uD+djthppy0EI3N8abaKw2vdUCbtACZxntF%0AK4F0INOV6nfFiH6CuqOfDyIhmSnSfjBdG0u1SwloZ6k7vOCopXr7J9KV7NR50A4DbEeuyTKtdiZB%0AZEOT1XpNhslyZaj2k09Sn2htrVdjgyWeDAXnW2JMnMQMYyyRj/ZWKbZEvgzFqXqSa67TdikABYJ6%0Ahjx9IsZ16imoT7gjmxWEbKuSQx5zyB/GRXQr09MWaR0ajwuPW1sUFQeNLTLbYmsiIbHlN1HloL6O%0AxtgbmapamXPhMbdZ5VRMXMB4+63Sw/bEPRnjhK5KPBrH11GJEaHxcMPj5jfXHiOSP8LDbLHPTKeU%0A1jurfjNTtVL34KSTcSHHHVSgv5pIY3RJDfxth9n2INsEdwo6FjNNtona2O24LxLsRieD/eKzRNs1%0AwAUtPWuBFqHi5yuK8/+RZ6+AZEpyrARtA03NNj10LHa2wiMxSyk15eohB02LKHqFwtB4kKC7QUeL%0AjEIgHUjkvt2nQgcHIyzD9FfmV+Qo0ginlclxUS8S9qQOkuARfsmeerYc08zVBEzWWaZxNgmkV0lk%0AU4f7sF7weUGtzPK7t7TR0iTvqJRKBZapju+q8Z62CdK6C9oZOiADSStpa4Ma6yNniqwk0zpjXbIm%0Azu32e3dZb1eKCnI9b6xW+vpW1MSR6mKp9833RJwJevguBWKUl21Sa200IhbSUFALs/ypVLcoT5ZL%0A4Va2jj40wAPe1kuxfN1tTLaSWoNlmaO7ugvBQnlhX18PgzwLjZcZ1ZM85S6qcdgbLno3ebm1Nprq%0AoXB6E3NNCf3u57pVjinhx/kyJMeLTqgw0EAVKgxMsaWqHDDDuqjXgE6WK8RChZbrFLbXQYba76hJ%0AoccnS1YqBE2tdN5WXWPsQ5T7OuYmH1BkiwuCmqWeOFZdfOp8ROr9SjSr96toZq1aW0Pn2VWp0H5V%0AimQh4HELlEdALt+Oh109oE517dxtgAITMSoMGWClz32T5u04ofK8rsZmM5SYIIAOSoyU7Yhnrg+i%0ATt185azlygy12F6r3W6lc5pfT8jlV+kzzqhU6ZK/VBqZ/iSpdfmjgBv9ceCm/jv9C6JIIBpT3nBT%0AAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDI1LTEwLTIxVDA0OjM1OjQzKzAwOjAwUvZ4lgAAACV0RVh0%0AZGF0ZTptb2RpZnkAMjAyNS0xMC0yMVQwNDozNTo0MyswMDowMCOrwCoAAAAodEVYdGRhdGU6dGlt%0AZXN0YW1wADIwMjUtMTAtMjFUMDQ6MzU6NDMrMDA6MDB0vuH1AAAAAElFTkSuQmCC' /%3E%3C/svg%3E%0A");
}
