/*common*/

/* box common Style*/
.box{display:block; width:100%; position:relative;}

/* card common style*/
.card,img-box,.card-header,.card-body{display:block;width:100%; position:relative; padding:0}
.card{overflow:hidden;}
.card-header{max-height:100%;border: 0}
.card-body{}
.card.horizontal{height:400px; max-height:100%;display:flex;flex-direction: row;}

/*img common style*/
.img-box{width:100%;height:100%}
.img-inner{position:relative;
    width: 100%; height: 100%;}
.img{position:absolute; top:calc(50% - 200px); left:0; width:100%; height:100%;}


/*list common Style*/
ul,li{list-style:none; position: relative}
.ul{}
.li{}

.ul.cicleBullets{}
.ul.cicleBullets > li {display:flex; word-break: keep-all;}
.ul.cicleBullets > li > .tit{display: inline-flex; align-items: center;}
.ul.cicleBullets > li > .tit:before{content:''; display:inline-block; width:5px;height:5px; background-color: cornflowerblue;
border-radius: 10px; margin-right: 10px; }

/*Slide common Style*/
.swiper,swiper-wrapper{width: 100%; height:100%}
/*.swiper .swiper-slide{width:100% !important;}*/

.bookDetail .card-header{max-width: 500px; width:100%; height: 100%; overflow: hidden}
.bookDetail .swiper{}

