.client .header{width:100%;position:absolute;top:0;left:0}
/*main태그의 class명이 main*/
.client main.main{min-height:auto;width:100%;padding:100px 0 200px}
.client .bodyWrapper{width:100%}
.section,.sc-inner{width:100%}
.sc-inner{min-height:1080px;padding:30px}

.section.main{}
.section.main .sc-inner{
    background: url("assets/images/main/main_cl.jpg") no-repeat center bottom;
    background-size: cover;
}

.section.main .sc-content{

}