
.client .header{width:100%;position:absolute;top:0;left:0}
/*main태그의 class명이 main*/
.client main.main{min-height:auto;width:100%;padding:100px 0 200px}
.client .bodyWrapper{width:100%}
/*.section{max-width: 1920px;margin: 0 auto;}*/
.section,.sc-inner{width:100%}
/*.sc-inner{min-height:1080px;}*/

/*title*/
[class*="-tit"],[class*="-tit"] > span{line-height: 1;font-weight:bold;}
.text-or{color:#F28310}
.text-gr{color:#008834}

/*
1rem = 10px ,  1.6rem = 16px
*/
.s-tit{font-size: 5rem}
.m-tit,.sc-tit,.sc-tit > span{font-size: 6rem;}
.b-tit{font-size: 9rem}
.sc-tit{margin-bottom: 2rem}
.desc{font-size:2rem;}


.text-dot{
    position:relative;
    padding-top: 20px;
}
.text-dot:before{
    content:""; display: inline-block; border-radius: 50%;
    background-color:#BED297; width:0.25em; height:0.25em;;
    position: absolute; top:0; left:calc(50% - 0.25em/2);
}
/*cataName*/
.cateName{
    background:#56453E;color:#ffffff;
    font-size:1.5rem;
    font-weight: bold;padding:12px 13px 9px 13px;border-radius:10px; }

/*button*/


/*main*/
.section.main{}
.section.main .sc-inner{
    background: url("assets/images/main/main_cl.jpg") no-repeat center bottom;
    background-size: cover;
    padding-top: 100px;
    min-height: 1080px;
}

.section.main .text-box{
    padding:7rem 4rem;
    background-color: #fff;
}
.section.main [class*="-tit"]{
    margin-bottom: 20px;}
.section.main .b-tit{}
.section.main .circle-btn{margin: 4rem; padding: 0.5em}
.section.main .circle-btn span{font-size: 23px;}

/*slide common*/
.section .button-group{display: inline-flex; align-items: center;
    justify-content: center; position: absolute; }
.section [class ^="swiper-button"]{position:relative; top:auto; left: auto; right: auto;bottom:auto;
    margin: 0 2px; width: 50px; height: 50px; border-radius: 10px; box-shadow: none;}
.section [class ^="swiper-button"]:after{
    width: 100%;
    height: 100%;
    background-size: 60% 40%;
    background-position: center center;}
/*books tab*/
.tab-content{position: relative;}
.nav .custom-outline-btn{font-size: 2rem; padding: 0.8em;
    margin:0 0.8rem; border-radius: 3rem;}
.tab-content{ background-color: #FFECA4; margin-top: 4.5rem;padding: 5rem 4.4rem}

/*books*/
.section.books{}
.section.books .sc-inner{padding: 20rem 0 10rem;text-align:center;}
.section.books .sc-tit{}
.section.books .sc-content{margin-top: 9rem;}
.section.books .nav{padding: 0 3.5rem;}


/*books slide*/
.section.books .slide-con{
    max-width:calc(100vw - 0.4rem);
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.section.books .swiper{}
.section.books .swiper-wrapper{
    margin: 0 -4rem;
    /*padding: 2rem*/
}
.section.books .swiper-slide{height:400px;}
.section.books .swiper-pagination{
    margin-top: 0.5em;
    background: transparent; display: flex; justify-content: center; align-items: center; top: auto; left:auto; position:relative; }
.section.books .swiper-pagination .swiper-pagination-bullet-active{background:#56453EFF }

.section.books .img-box{border-radius: 1em;
    z-index: 3; position: relative;max-height: 30rem}
.section.books .txt-box{background:rgba(255,255,255,0.5); padding:4rem 1rem 2rem;position:relative;top:-2rem;}
.section.books .txt-box > .tit{padding:0.5rem 0;text-align: center; word-break: keep-all; font-weight: bold;}
.section.books .button-group{top: -9.8rem; right: 0;}


/*section curation*/
.section.curation{}
.section.curation .sc-inner{overflow: hidden;}
.section.curation .sc-tit{}
.section.curation .sc-tit.m-tit{font-size: 3.4rem;margin-bottom: 3rem;}
.section.curation .sc-content{display:flex;justify-content: flex-start; align-items: center;padding: 5rem 4.4rem;width: calc(100% + 20px);
    margin: 0 -10px;}
/*book*/
.section .book{
    width: calc(50% - 20px); margin: 0 10px; padding:4rem; height:48rem;overflow: hidden;
    border-radius: 20px;border:3px solid #F7F7F7; position: relative}

.section .book .img-box{border-radius: 10px}
.section .book .img-inner{background:#ffffff;}
.section .book .img-inner,.section .book .img{width: 100%; height: 100%;}
.section .book .tit{display: block; font-size:2.2rem;margin: 1rem 0 1.2rem 0;}
.section .book .author{font-size:1.7rem; margin-bottom: 1rem;}
.section .book .slide-list{overflow: hidden; display: block;}
.section .book .slide-link{border-radius: 15px; position: relative; float:left;width: 100%;}
.section .book .button-group{top: 4rem; right: 4rem;}
/*book.popular*/
.book.popular .swiper-slide{margin: 0;}
.book.popular .slide-list{height: calc(100% - 60px); }
.book.popular .slide-link{
    position: relative; height:153px;padding:30px 130px 30px 30px;margin-bottom: 30px;}
.book.popular .slide-link:nth-child(2n){ background:#FFEAEC;}
.book.popular .slide-link:nth-child(2n-1){background: #FFECA4;}
.book.popular .tit{}
.book.popular .slide-link .author{}
.book.popular .img-box{ width: 75px; height: 100px; position: absolute; right: 30px; top:30px; }
.book.popular .img-inner,.book.popular .img{}
.book.popular .img-inner{}
.book.popular .img{}

/*book.recommend*/
.book.recommend .swiper-slide{width:100% !important;
    margin: 0;}
.book.recommend .slide-list{height: 330px;}
.book.recommend .slide-link{background:#E8F1FF; padding: 5rem 25rem 4rem 4rem;
    width: 100%; height: 100%;}
.book.recommend .img-box{width: 180px;
    height: 235px;position: absolute; right:4rem; top: 5rem; }










    /*section skipBtn*/

.section.skipbtns{}
.section.skipbtns .sc-inner{padding: 10rem 4rem 0rem;text-align:center}
.skip-btn-list{width: 100%;}
.skip-btn .skip-btn-con{display:inline-block}
.skip-btn p{font-weight: bold;font-size: 3rem;
    margin-bottom:0.5em;}
.skip-btn .circle-btn{margin-top: 2.8em;}
.skip-btn{width: 100%; min-height:28rem;padding: 5rem 6rem; background-repeat: no-repeat;
    position: relative;
    margin-bottom: 4rem;
    background-position: left center;
    background-size: contain;
    border-radius: 2rem;
}

.skip-btn.qna{background-color: #E8F1FF;
    background-image: url("assets/images/main/book01.png");
}
.skip-btn.wishlist{background-color: #FFEAEC;
    background-image: url("assets/images/main/book02.png");
    background-position: right center;
}
.skip-btn.join{background-color: #FFF8D0;
    background-image: url("assets/images/main/join01.png");}


