
.client .header{width:100%;position:absolute;top:0;left:0}
/*main태그의 class명이 main*/
.client main.main{min-height:auto;width:100%;padding:100px 0 200px}
.client .bodyWrapper{width:100%}
.section,.sc-inner{width:100%}
.sc-inner{min-height:1080px;}

/*title*/
[class*="-tit"]{line-height: 1}
.text-or{color:#F28310}
.text-gr{color:#008834}

/*
1rem = 10px ,  1.6rem = 16px
*/
.s-tit{font-size: 5rem}
.m-tit{font-size: 6rem}
.b-tit{font-size: 9rem}

.text-dot{
    position:relative;
    padding-top: 20px;
}
.text-dot:before{
    content:""; display: inline-block; border-radius: 50%;
    background-color:#BED297; width:0.25em; height:0.25em;;
    position: absolute; top:0; left:calc(50% - 0.25em/2);
}
/*button*/


/*main*/
.section.main{}
.section.main .sc-inner{
    background: url("assets/images/main/main_cl.jpg") no-repeat center bottom;
    background-size: cover;
    padding-top: 100px;
}

.section.main .text-box{
    padding:7rem 4rem;
    background-color: #fff;
}

.section.main [class*="-tit"]{}

/*books*/
.section.books{}
.section.books .sc-inner{}
.section.books .sc-tit{}
